<div class="signup-main">
  <div class="header-logo">
    <img src="ccp-logo-rmvbg.png" alt="header-logo" />
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="signUpOnClick()">
    <div class="form-field-container">
      <h2>Sign Up</h2>
    </div>

    <div class="form-field-container">
      <!-- First Name Field -->
      <label for="firstname">First Name</label>
      <input
        id="firstname"
        matInput
        placeholder="Enter your Firstname"
        formControlName="firstname"
        required
      />
      <mat-error>{{ firstnameErrorMessage() }}</mat-error>
    </div>

    <div class="form-field-container">
      <!-- Last Name Field -->
      <label for="lastname">Last name</label>
      <input
        id="lastname"
        matInput
        placeholder="Enter your Lastname"
        formControlName="lastname"
        required
      />
      <mat-error>{{ lastnameErrorMessage() }}</mat-error>
    </div>

    <div class="form-field-container">
      <!-- Email Field -->
      <label for="email">Email</label>
      <input
        id="email"
        autocomplete="off"
        matInput
        placeholder="Enter your email"
        formControlName="email"
        required
      />
      <mat-error>{{ emailErrorMessage() }}</mat-error>
    </div>

    <div class="form-field-container">
      <!-- Bithdate Field -->
      <label for="birthdate">Birthdate</label>
      <input
        id="birthdate"
        matInput
        type="date"
        placeholder="Enter your Birthdate"
        formControlName="birthdate"
        required
      />
      <mat-error>{{ birthdateErrorMessage() }}</mat-error>
    </div>

    <div class="form-field-container">
      <!-- Password Field -->
      <label for="password">Password</label>
      <input
        id="password"
        matInput
        placeholder="Enter your password"
        formControlName="password"
        autocomplete="off"
        required
      />
      <mat-error>{{ passwordErrorMessage() }}</mat-error>
    </div>

    <div class="form-field-container">
      <label for="confirmpassword">Confirm Password</label>
      <input
        id="confirmpassword"
        matInput
        placeholder="Confirm your password"
        formControlName="confirmPassword"
        autocomplete="off"
        required
      />
      <mat-error>{{ confirmPasswordErrorMessage() }}</mat-error>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignIn"
        mat-raised-button
        type="submit"
        [disabled]="signupForm.invalid || isLoading()"
      >
        {{ isLoading() ? "Signing Up..." : "Sign Up" }}
      </button>
    </div>

    <div class="form-field-container">
      <br />
      <mat-divider></mat-divider>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignUp"
        mat-raised-button
        type="button"
        (click)="signInOnClick()"
      >
        Sign In
      </button>
    </div>
  </form>
</div>
