<div class="close-button-container">
  <button
    class="close-button"
    mat-icon-button
    (click)="close()"
    matTooltip="close"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="signup-main">
  <div class="header-logo">
    <img src="ccp-logo-rmvbg.png" alt="header-logo" />
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="signUpOnClick()">
    <div class="form-field-container">
      <h2>Sign Up</h2>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          id="firstname"
          matInput
          placeholder="Enter your Firstname"
          formControlName="firstname"
          required
        />
        <mat-error>{{ firstnameErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          id="lastname"
          matInput
          placeholder="Enter your Lastname"
          formControlName="lastname"
          required
        />
        <mat-error>{{ lastnameErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          id="email"
          autocomplete="off"
          matInput
          placeholder="Enter your email"
          formControlName="email"
          required
        />
        <mat-error>{{ emailErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Birthdate</mat-label>
        <input
          id="birthdate"
          matInput
          type="date"
          placeholder="Enter your Birthdate"
          formControlName="birthdate"
          required
        />
        <mat-error>{{ birthdateErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          id="password"
          matInput
          placeholder="Enter your password"
          formControlName="password"
          autocomplete="off"
          [type]="isPasswordVisible ? 'text' : 'password'"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="isPasswordVisible"
        >
          <mat-icon>{{
            isPasswordVisible ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error>{{ passwordErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          id="confirmpassword"
          matInput
          placeholder="Confirm your password"
          formControlName="confirmPassword"
          autocomplete="off"
          [type]="isConfirmPasswordVisible ? 'text' : 'password'"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="toggleConfirmPasswordVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="isConfirmPasswordVisible"
        >
          <mat-icon>{{
            isConfirmPasswordVisible ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error>{{ confirmPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignIn"
        mat-raised-button
        type="submit"
        [disabled]="signupForm.invalid || isLoading()"
      >
        {{ isLoading() ? "Signing Up..." : "Sign Up" }}
      </button>
    </div>

    <div class="form-field-container">
      <br />
      <mat-divider></mat-divider>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignUp"
        mat-raised-button
        type="button"
        [disabled]="isLoading()"
        (click)="signInOnClick()"
      >
        Sign In
      </button>
    </div>
  </form>
</div>
