:host {
  --mdc-outlined-text-field-label-text-color: var(--tertiary);
  --mdc-outlined-text-field-input-text-color: var(--tertiary);
  --mdc-outlined-text-field-outline-color: var(--tertiary);
  --mdc-outlined-text-field-hover-outline-color: var(--tertiary);
  --mdc-outlined-text-field-focus-outline-color: var(--tertiary);
  --mdc-outlined-text-field-focus-label-text-color: var(--tertiary);
}

::ng-deep .form-field-container mat-form-field {
  width: 100%;
  min-width: 18em;

  .mat-mdc-text-field-wrapper {
    border-radius: 0.5em;
  }

  .mat-mdc-form-field-input-control input {
    font-size: 0.875em;
    padding: 0.7em;
    color: var(--tertiary) !important;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-radius: 0.5em;
    border-color: var(--tertiary) !important;
  }

  .mat-mdc-form-field-label {
    color: var(--tertiary) !important;
  }

  &.mat-focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: var(--tertiary) !important;
      border-width: 2px !important;
    }

    .mat-mdc-form-field-label {
      color: var(--tertiary) !important;
    }
  }
}

.close-button-container {
  display: flex;
  justify-content: flex-end;

  .close-button {
    color: var(--gray);
    position: fixed;
    z-index: 1;
  }
}

.signup-main {
  background-color: var(--secondary);
  color: var(--tertiary);
  display: inline-table;
  width: 100%;
  height: 100%;
  padding: 1em 0;

  .header-logo {
    display: flex;
    justify-content: center;

    img {
      width: 60%;
    }
  }

  form {
    max-height: 30em;
    overflow: auto;

    .form-field-container {
      display: grid;
      justify-content: center;

      h2 {
        color: var(--primary);
      }

      p {
        text-align: center;
        font-size: 0.875em;
      }

      mat-error {
        font-size: 0.875em;
        color: red;
      }

      .signingUp {
        background-color: var(--gray) !important;
      }

      button {
        mat-icon {
          color: var(--primary);
        }
      }
    }
  }

  mat-divider {
    width: 16em;
    text-align: center;
    background-color: var(--gray);
  }
}
