<mat-card class="privacy-policy-card">
  <mat-card-header>
    <mat-card-title><h3>Privacy Policy</h3></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="policy-content">
      <p>
        The Cultural Center of the Philippines (CCP) operates the CCP Channel
        with our website found at:
        <a href="https://ccpchannel.culturalcenter.gov.ph" target="_blank"
          >https://ccpchannel.culturalcenter.gov.ph</a
        >.
      </p>

      <p>
        This page informs you of our policies regarding the collection, use, and
        disclosure of personal data when you use the CCP Channel and the choices
        you have associated with that data. By visiting our site, you are
        accepting the practices described in our Privacy Policy. If you do not
        agree to the terms of this Privacy Policy, please do not use this
        service. Unless otherwise defined in this Privacy Policy, terms used in
        this Privacy Policy have the same meanings as in our Terms and
        Conditions.
      </p>

      <mat-divider></mat-divider>

      <h3>Information Collection</h3>
      <p>
        CCP collects personal information, voluntarily submitted by visitors to
        the CCP Channel, which enables us to provide and maintain the CCP
        Channel, notify you about changes, allow you to participate in
        interactive features when you choose to do so, provide customer care and
        support, provide analysis or valuable information so that we can improve
        the CCP Channel and monitor the usage of the site.
      </p>

      <p>
        We may also collect information that your browser sends whenever you
        visit our site or when you access it by or through a mobile device
        ("Usage Data"). This Usage Data may include information such as your
        computer's Internet Protocol address (e.g. IP address), browser type,
        browser version, the pages of our Service that you visit, the time and
        date of your visit, the time spent on those pages, unique device
        identifiers, and other diagnostic data.
      </p>

      <mat-divider></mat-divider>

      <h3>Ethical Standards</h3>
      <p>
        CCP adheres to the highest standards of ethical practices in all of our
        operations and is dedicated to protecting the privacy of all visitors to
        the CCP Channel.
      </p>

      <p>
        We occasionally use third-party agents, subsidiaries, affiliates, and
        partners to perform functions such as creative design, marketing,
        analytics, programming, site maintenance, providing customer service,
        etc., on our behalf. These entities have access to the personal
        information needed to perform their functions and are contractually
        obligated to maintain the confidentiality and security of any personal
        information collected from the CCP Channel. They are restricted from
        using, selling, distributing, or altering this data in any way other
        than to provide the requested services to the website.
      </p>

      <mat-divider></mat-divider>

      <h3>Cookies and Tracking</h3>
      <p>
        We also use cookies and similar tracking technologies to track activity
        on the CCP Channel and hold certain information.
      </p>

      <p>
        Cookies are files with a small amount of data, which may include an
        anonymous unique identifier. Cookies are sent to your browser from the
        CCP Channel and stored on your device. Tracking technologies also used
        are beacons, tags, and scripts to collect and track information and to
        improve and analyze our website.
      </p>

      <p>
        You can instruct your browser to refuse all cookies or to indicate when
        a cookie is being sent. However, if you do not accept cookies, you may
        not be able to use some portions of the CCP Channel.
      </p>

      <mat-divider></mat-divider>

      <h3>Information Disclosure</h3>
      <p>
        Except as disclosed below, we do not sell, barter, give away, rent, or
        permit anyone outside of CCP to use your personal information.
      </p>

      <p>
        CCP may disclose your Personal Data in good faith with the belief that
        such action is necessary:
      </p>
      <ul>
        <li>To comply with a legal obligation;</li>
        <li>
          To protect and defend the rights or property of the Cultural Center of
          the Philippines;
        </li>
        <li>
          To prevent or investigate possible wrongdoing in connection with the
          CCP Channel;
        </li>
        <li>
          To protect the personal safety of users of the CCP Channel or the
          public;
        </li>
        <li>To protect against legal liability.</li>
      </ul>

      <mat-divider></mat-divider>

      <h3>Third-Party Links</h3>
      <p>
        CCP Channel may contain links to sites operated by third parties. Please
        be advised that the practices described in this Privacy Policy do not
        apply to information gathered through these other websites.
      </p>

      <p>
        Moreover, any information that you may share in public areas, such as
        message boards or feedback sections, becomes public, and therefore, this
        Privacy Policy does not apply to any information you choose to make
        public. Please be careful about what you disclose, and do not post any
        personal information that you expect to keep private.
      </p>

      <mat-divider></mat-divider>

      <h3>Children's Privacy</h3>
      <p>Our Service does not address anyone under the age of 18 ("minors").</p>

      <p>
        We do not knowingly collect personally identifiable information from
        anyone under the age of 18. If you are a parent or guardian and you are
        aware that your minor children have provided us with Personal Data,
        please contact us. If we become aware that we have collected Personal
        Data from children without verification of parental consent, we will
        take steps to remove that information from our servers.
      </p>

      <mat-divider></mat-divider>

      <h3>Data Security</h3>
      <p>
        The security of your data is important to us, but no method of
        transmission over the Internet, or method of electronic storage, is 100%
        secure. While we strive to use commercially acceptable means to protect
        your Personal Data, we cannot guarantee its absolute security.
      </p>

      <mat-divider></mat-divider>

      <h3>Jurisdiction</h3>
      <p>
        The CCP Channel is released in the Republic of the Philippines and is
        subject to the laws of the Republic of the Philippines. If you are
        located in a country outside the Republic of the Philippines and
        voluntarily submit personal information to us, you thereby consent to
        the general use of such information as provided in this Privacy Policy
        and to the transfer of that information to, and/or storage of that
        information in, the Republic of the Philippines. CCP shall not be liable
        under any circumstances for damages resulting from the use of
        information collected from visitors to the site.
      </p>

      <mat-divider></mat-divider>

      <h3>Policy Updates</h3>
      <p>
        We may update our Privacy Policy from time to time. We will notify you
        of any changes by posting the new Privacy Policy on this page.
      </p>

      <p>
        You are advised to review this Privacy Policy periodically for any
        changes. Changes to this Privacy Policy are effective when they are
        posted on this page.
      </p>

      <mat-divider></mat-divider>

      <h3>Contact Information</h3>
      <p>
        Questions and comments should be directed to
        <a href="mailto:ccpchannel@culturalcenter.gov.ph"
          >ccpchannel&#64;culturalcenter.gov.ph</a
        >.
      </p>
    </div>
  </mat-card-content>
</mat-card>
