.privacy-policy-card {
  max-width: 80%;
  margin: 6em auto auto;
  padding: 1em;
}

.policy-content {
  line-height: 1.6;
}

.policy-content h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--primary);
}

.policy-content p {
  margin-bottom: 1em;
  text-align: justify;
}

.policy-content ul {
  margin: 1em 0;
  padding-left: 1em;
}

.policy-content li {
  margin-bottom: 8px;
}

.policy-content a {
  color: var(--primary);
  text-decoration: none;
}

.policy-content a:hover {
  text-decoration: underline;
}

mat-divider {
  margin: 1em 0;
}
