.main-header {
  background-color: var(--primary);
  padding: 1em;
  display: flex;
  justify-content: space-between;

  .menu {
    button {
      background-color: var(--primary);

      mat-icon {
        color: var(--tertiary);
      }
    }
    :hover {
      background-color: var(--primary-hovered);
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .search {
      background-color: var(--primary);

      mat-icon {
        color: var(--tertiary);
      }
    }

    .search:hover {
      background-color: var(--primary-hovered);
    }

    .header-right {
      display: flex;
      gap: 0.5em;
      align-items: center;

      button {
        border: 1px solid var(--tertiary);

        mat-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
          color: var(--tertiary);
        }
      }

      button:hover {
        border: 1px solid var(--primary-hovered);
      }
    }
  }
}

mat-card-content {
  display: flex;
  margin-bottom: 0.5em;

  button {
    width: 100%;
    justify-content: flex-start;
    border-radius: 5em;

    mat-icon,
    span {
      color: var(--primary);
    }
  }

  button:hover {
    background-color: var(--primary);

    mat-icon,
    span {
      color: var(--gray);
    }
  }
}

mat-card-actions {
  display: flex;

  button {
    width: 100%;
    background-color: var(--primary);

    mat-icon,
    span {
      color: var(--tertiary);
    }
  }
}

.user {
  display: flex;
  gap: 1em;
  padding: 1em;

  button {
    border: 1px solid var(--primary);
    color: var(--primary);
  }

  div {
    mat-card-title {
      color: var(--primary);
      font-weight: bold;
      font-size: 1em;
    }

    mat-card-subtitle {
      color: #b4b4b4;
      font-size: 0.813em;
    }
  }
}

.mat-mdc-card-header {
  padding: 0;
}

.mat-mdc-card-content {
  padding: 0 8px;
  flex-direction: column;
  align-items: flex-start;
}
