<div class="signup-main">
  <form [formGroup]="resetPassForm" (ngSubmit)="resetPassOnClick()">
    <div class="form-field-container">
      <h2>Reset Password</h2>
    </div>

    <div class="form-field-container">
      <!-- Code Field -->
      <label for="code">Code</label>
      <input
        id="code"
        matInput
        placeholder="Enter the confirmation code"
        formControlName="code"
        autocomplete="off"
        required
      />
      @if (codeErrorMessage()) {
      <mat-error>{{ codeErrorMessage() }}</mat-error>
      }
    </div>

    <div class="form-field-container">
      <!-- Password Field -->
      <label for="password">Password</label>
      <input
        id="password"
        matInput
        placeholder="Enter your password"
        formControlName="password"
        autocomplete="off"
        required
      />
      @if (passwordErrorMessage()) {
      <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </div>

    <div class="form-field-container">
      <label for="confirmpassword">Confirm Password</label>
      <input
        id="confirmpassword"
        matInput
        placeholder="Confirm your password"
        formControlName="confirmPassword"
        autocomplete="off"
        required
      />
      @if (confirmPasswordErrorMessage()) {
      <mat-error>{{ confirmPasswordErrorMessage() }}</mat-error>
      }
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignIn"
        mat-raised-button
        type="submit"
        [disabled]="resetPassForm.invalid || isLoading()"
      >
        {{ isLoading() ? "Resetting Password..." : "Reset Password" }}
      </button>
      <br />
    </div>
  </form>
</div>
