.supermain-div {
  max-width: 60em;
  background-color: var(--secondary);
  .main-div {
    .banner-container {
      .close-button-container {
        display: flex;
        justify-content: flex-end;

        .close-button {
          color: var(--gray);
          position: fixed;
          z-index: 1;
        }
      }

      .media-container {
        width: 100%;
        height: 20em;
        overflow: hidden;
        position: relative;

        .media {
          filter: brightness(50%);
          width: 100%;
          height: 180%;
          object-fit: cover;
        }
      }
    }

    .gradient {
      padding: 1.5em;
      top: -4em;
      position: relative;
      /* background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 0) 300%
      ); */

      .details-container {
        display: grid;
        grid-auto-columns: 0fr 2fr;
        gap: 2em;
        grid-auto-flow: column;

        .poster {
          max-width: 11em;
          max-height: 15.5em;
          box-shadow: 0 0 19px 5px rgba(255, 255, 255, 0.2);

          img {
            max-width: 11em;
          }
        }

        .details {
          h1 {
            color: var(--gray);
            font-size: 1.2em;
            margin: 0;
          }

          .metadata,
          .metadata-director-writer {
            display: flex;
            column-gap: 0.5em;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
            color: var(--gray);
            font-weight: lighter;
            font-size: 1em;

            .category {
              text-transform: capitalize;
            }

            p {
              margin: 0;
            }

            .director,
            .writer {
              font-size: 0.8em;
              font-weight: 800;
            }
          }

          .metadata-director-writer {
            flex-direction: column;
            align-items: flex-start;
            align-content: start;
          }

          .custom-fields {
            display: flex;
            flex-direction: column;
            gap: 0.3em;
            margin: 0.5em 0;

            .custom-field {
              display: flex;
              gap: 0.5em;
              color: var(--gray);
              font-size: 0.8em;

              .field-name {
                font-weight: 800;
              }
            }
          }

          .description {
            font-size: 0.8em;
            color: var(--gray);
            margin: 0;
            max-height: 19em;
            overflow: auto;
          }

          .actions {
            margin: 1em 0 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            gap: 1em;

            .watch {
              button {
                min-width: 9em;
                font-weight: bold;
                border: none !important;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5em;
              }
            }

            .icons {
              color: var(--gray);
              display: flex;
              flex-wrap: wrap;
              gap: 0.3em;

              mat-icon:hover {
                cursor: pointer;
                color: var(--primary);
              }
            }

            .isFavorite {
              color: var(--primary);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .supermain-div {
    .main-div {
      .gradient {
        padding: 0.5em;

        .details-container {
          grid-auto-columns: 1fr;
          grid-auto-flow: row;
          gap: 1em;

          .poster {
            max-width: 6em;
            max-height: 11.3em;

            img {
              max-width: 6em;
            }
          }

          .details {
            width: auto;

            h1 {
              font-size: 1em;
            }

            .metadata {
              line-height: unset;
              font-size: 0.8em;
              align-items: flex-start;
              align-content: flex-start;
            }

            .description {
              max-height: 10em;
              overflow: auto;
            }
          }
        }
      }
    }
  }
}

/* Hide timeline, volume slider */
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
  display: none !important;
}

/* For Firefox */
video::-moz-range-track,
video::-moz-range-thumb {
  display: none;
}

/* For Microsoft browsers */
video::-ms-track {
  display: none;
}

/* Hide download button */
video::-webkit-media-controls-download-button {
  display: none !important;
}

/* Hide fullscreen button */
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

/* Hide playback speed button */
video::-webkit-media-controls-playback-button {
  display: none !important;
}

/* Hide remote playback button (e.g., Chromecast) */
video::-webkit-media-controls-remote-playback-button {
  display: none !important;
}

/* For Firefox */
video::-webkit-media-controls {
  overflow: hidden !important;
}

video::-webkit-media-controls-enclosure {
  width: calc(100% + 32px);
  margin-left: auto;
}

/* Additional control to prevent right-click menu */
video {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Align controls to the left */
video::-webkit-media-controls-panel {
  display: flex;
  justify-content: flex-start !important;
}
