<div class="supermain-div">
  <div class="main-div">
    <div class="banner-container">
      <div class="close-button-container">
        <button class="close-button" mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      @if (item.teaser == '') {
      <div class="media-container">
        <img class="media" [src]="item.landscapeImageUrl" [alt]="item.title" />
      </div>
      } @else {
      <div class="media-container">
        <video
          preload="metadata"
          class="media"
          #video
          [src]="item.previewVideoUrl"
          autoplay
          loop
          [muted]="true"
        ></video>
      </div>
      }
    </div>
    <div class="gradient">
      <div class="details-container">
        <div class="poster">
          <img class="image" [src]="item.portraitImageUrl" [alt]="item.title" />
        </div>
        <div class="details">
          <h1>{{ item.title }}</h1>
          <div class="metadata">
            <p class="category">{{ item.category }}</p>
            @if (item.resolution) {
            <p>•</p>
            <p>{{ item.resolution }}</p>
            } 
            @if (item.runtime) {
            <p>•</p>
            <p>{{ item.runtime }}</p>
            }
          </div>
          <div class="metadata">
            @if (item.director) {
              <p class="director">Directed by {{item.director}}</p>
            }
            @if (item.writer) {
              <p class="writer">Written by {{item.writer}}</p>
            }
          </div>
          <p class="description">{{ item.description }}</p>
          <div class="actions">
            <div class="watch">
              <button
                class="buttonMS"
                mat-icon-button
                (click)="watchVideo(item.fullVideoUrl)"
              >
                <div>WATCH</div>
                <mat-icon matSuffix>play_arrow</mat-icon>
              </button>
            </div>
            <div class="icons">
              <mat-icon>thumb_up_alt</mat-icon>
              <mat-icon>add_circle</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
