.search-button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  button {
    background-color: var(--primary);

    mat-icon {
      color: var(--tertiary);
    }
  }
  button:hover {
    background-color: var(--primary-hovered);
  }
}

tr:hover {
  background: #efefef;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

input {
  font-size: 0.875em;
  min-width: 18em;
  padding: 0.5em;
  border-radius: 0.5em;
  border-color: var(--gray);
  margin: 1.5em 0 1em;
}

.table {
  width: 100%;
  overflow: auto;

  .table-header {
    font-weight: bold;
  }
}

.no-rec-found-row:hover {
  background: none;
  cursor: unset;
}

::ng-deep .mat-mdc-paginator-container {
  background-color: #efefef !important;
  font-size: 0.8em;
}
