<div class="search-button">
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  <button mat-icon-button (click)="onRefreshClick()" matTooltip="refresh">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div class="table">
  <table mat-table [dataSource]="dataSource" matSort>
    @for (column of columns; track column.def) {
    <ng-container [matColumnDef]="column.def">
      <th
        class="table-header"
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="column.sortable ? column.def : ''"
      >
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span [ngSwitch]="column.def">
          <span
            *ngSwitchCase="'subscriptionType'"
            [class]="
              element[column.def] === 'A'
                ? 'status-badge positive'
                : element[column.def] === 'M'
                ? 'status-badge warning'
                : 'status-badge neutral'
            "
          >
            {{
              element[column.def] === "A"
                ? "Annually"
                : element[column.def] === "M"
                ? "Monthly"
                : element[column.def]
            }}
          </span>
          <span *ngSwitchCase="'updatedAt'">{{
            element[column.def] | date : "MMM d yyyy h:mm a"
          }}</span>
          <span *ngSwitchCase="'createdAt'">{{
            element[column.def] | date : "MMM d yyyy h:mm a"
          }}</span>
          <span *ngSwitchCase="'custom:paidUntil'">
            {{
              element[column.def]
                ? (element[column.def].split(" ")[0] | date : "MMM d yyyy")
                : ""
            }}
          </span>
          <span
            *ngSwitchCase="'status'"
            [class]="
              !element.vttUrl || !element.processedFullVideoUrl
                ? 'status-badge warning'
                : element[column.def] === false
                ? 'status-badge neutral'
                : 'status-badge positive'
            "
          >
            {{
              !element.vttUrl || !element.processedFullVideoUrl
                ? "Processing"
                : element[column.def] === false
                ? "Scheduled"
                : "Published"
            }}
          </span>
          <span
            *ngSwitchCase="'email_verified'"
            [class]="
              element[column.def]
                ? 'status-badge positive'
                : 'status-badge warning'
            "
          >
            {{ element[column.def] ? "Verified" : "Unverified" }}
          </span>
          <span
            *ngSwitchCase="'UserStatus'"
            [class]="
              element[column.def] === 'CONFIRMED'
                ? 'status-badge positive'
                : element[column.def] === 'FORCE_CHANGE_PASSWORD'
                ? 'status-badge warning'
                : 'status-badge neutral'
            "
          >
            {{
              element[column.def] === "CONFIRMED"
                ? "Confirmed"
                : element[column.def] === "FORCE_CHANGE_PASSWORD"
                ? "Password Reset Required"
                : "Pending Confirmation"
            }}
          </span>
          <span
            *ngSwitchCase="'Enabled'"
            [class]="
              element[column.def] === false
                ? 'status-badge negative'
                : 'status-badge positive'
            "
          >
            {{ element[column.def] === false ? "Inactive" : "Active" }}
          </span>
          <span *ngSwitchCase="'birthdate'">{{
            element[column.def] | date : "MMMM d yyyy"
          }}</span>
          <span *ngSwitchDefault>{{ element[column.def] }}</span>
        </span>
      </td>

      <!-- <td mat-cell *matCellDef="let element">
        {{
          column.def === "updatedAt" || column.def === "createdAt"
            ? (element[column.def] | date : "MMM d yyyy h:mm a")
            : column.def === "custom:paidUntil"
            ? element[column.def]
              ? (element[column.def].split(" ")[0] | date : "MMM d yyyy")
              : ""
            : column.def === "status"
            ? !element.vttUrl || !element.processedFullVideoUrl
              ? "Processing"
              : element[column.def] === false
              ? "Scheduled"
              : "Published"
            : column.def === "Enabled"
            ? element[column.def] === false
              ? "Inactive"
              : "Active"
            : column.def === "birthdate"
            ? (element[column.def] | date : "MMMM d yyyy")
            : column.def === "subscriptionType"
            ? element[column.def] === "A"
              ? "Annually"
              : element[column.def] === "M"
              ? "Monthly"
              : element[column.def]
            : element[column.def]
        }}
      </td> -->
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClick(row)"
    ></tr>

    <tr class="no-rec-found-row" *matNoDataRow>
      <td colspan="9">
        <!-- No data matching the filter "{{ input.value }}" -->
        <p>No records found.</p>
      </td>
    </tr>
  </table>
</div>

<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
></mat-paginator>
