<div class="main-media-container">
  @if (banners.length > 0) {
  <ng-container>
    <div class="supermain-div">
      <div class="media-container">
        @if (showPhoto || !banners[currentMediaIndex].previewVideoUrl) {
        <img
          [src]="banners[currentMediaIndex].landscapeImageUrl"
          [alt]="banners[currentMediaIndex].title"
        />
        } @if (!showPhoto && banners[currentMediaIndex].previewVideoUrl) {
        <video
          preload="metadata"
          #video
          [src]="banners[currentMediaIndex].previewVideoUrl"
          [autoplay]="true"
          [muted]="true"
          (ended)="showPhoto = true"
        ></video>
        }
      </div>
      <div class="overlay" [ngClass]="{'about-class' : banners[currentMediaIndex].title === 'ABOUT'}">
        <div class="details">
          <h1 class="title">{{ banners[currentMediaIndex].title }}</h1>
          <p class="description">
            {{ banners[currentMediaIndex].description }}
          </p>
          @if (banners[currentMediaIndex].title !== 'ABOUT') {
          <div class="action-container">
            <div class="watch">
              <button disabled class="buttonMS" mat-icon-button>
                <div>Subscribe Now!</div>
              </button>
            </div>
          </div>
          }
        </div>
        @if (banners[currentMediaIndex].title !== 'ABOUT') {
        <div class="rates">
          <div class="card">
            <p class="title">Monthly</p>
            <p class="price">₱99</p>
          </div>
          <div class="card">
            <p class="title">Annual</p>
            <p class="old-price">₱1,188</p>
            <p class="price">₱599</p>
          </div>
        </div>
        }
      </div>
    </div>
  </ng-container>
  }
</div>
