.supermain-div {
  position: relative;
  width: 100%;
  max-height: 40em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  .media-container {
    width: 100%;
    height: 50em;
    overflow: hidden;
    position: relative;

    img,
    video {
      filter: brightness(80%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.supermain-div.fade-transition {
  opacity: 0;
  transform: scale(0.95);
}

.overlay {
  display: flex;
  color: var(--tertiary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 1;

  .details {
    height: 100%;
    width: 50%;
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    margin: 3em;

    .title {
      font-size: 2em;
      margin: 0;
      line-height: 1;
      color: var(--tertiary);
    }

    .description {
      font-size: 1em;
      overflow: hidden; /* Hide the overflowing text */
      display: -webkit-box; /* Older IE support */
      -webkit-line-clamp: 3; /* Limit to 3 lines (webkit) */
      line-clamp: 3; /* Standard line-clamp (future-proof) */
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    .action-container {
      font-size: 1em;
      margin-top: 0.5em;
      display: flex;
      gap: 1em;
      flex-wrap: wrap;

      .watch {
        button {
          min-width: 12em;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
        }
      }
    }
  }

  .rates {
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 2em;
    padding-bottom: 3em;

    .card {
      transition: transform 0.3s ease-in-out;
      box-shadow: 0 0 19px 10px rgba(255, 255, 255, 0.2);
      /* background-color: var(--primary); */
      border: 1px solid var(--tertiary);
      padding: 1em;
      min-width: 15em;
      min-height: 7em;
      border-radius: 5em;
      line-height: 1;
      text-align: center;
      align-content: center;

      .title {
        color: var(--gray);
        font-size: 1.5em;
        margin: 0;
      }

      .old-price {
        margin: 0;
        font-size: 1.2em;
        color: var(--tertiary);
        text-decoration: line-through;
      }

      .price {
        font-weight: bold;
        margin: 0;
        font-size: 2.5em;
        color: var(--tertiary);
      }
    }

    .card.hover-enabled:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

.about-class {
  justify-content: center;

  .details {
    width: 70%;

    .title {
      color: var(--accent);
    }

    .description {
      display: block;
      color: var(--gray);
    }
  }
}

@media (max-width: 1137px) {
  .overlay {
    .rates {
      align-content: center;
    }
  }
}

@media (max-width: 767px) {
  .overlay {
    flex-direction: column;

    .details {
      width: auto;
      margin: 1em;

      .title {
        font-size: 1.5em;
      }

      .description {
        font-size: 0.8em;
      }
    }

    .rates {
      width: 100%;
      height: auto;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 1em;

      .card {
        min-width: 10em;
        min-height: 5.4em;

        .title {
          color: var(--gray);
          font-size: 1em;
          margin: 0;
        }

        .old-price {
          margin: 0;
          font-size: 0.7em;
          color: var(--tertiary);
          text-decoration: line-through;
        }

        .price {
          font-weight: bold;
          margin: 0;
          font-size: 1.5em;
          color: var(--tertiary);
        }
      }
    }
  }
}
