.supermain-div {
  position: relative;
  width: 100%;
  max-height: 40em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  .media-container {
    width: 100%;
    height: 50em;
    overflow: hidden;
    position: relative;

    img,
    video {
      filter: brightness(80%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.supermain-div.fade-transition {
  opacity: 0;
  transform: scale(0.95);
}

.overlay {
  color: var(--tertiary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 1;

  .details {
    height: 100%;
    width: 50%;
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    margin: 3em;

    .title {
      font-size: 2em;
      margin: 0;
      line-height: 1;
      color: var(--tertiary);
    }

    .description {
      font-size: 1em;
      overflow: hidden; /* Hide the overflowing text */
      display: -webkit-box; /* Older IE support */
      -webkit-line-clamp: 3; /* Limit to 3 lines (webkit) */
      line-clamp: 3; /* Standard line-clamp (future-proof) */
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    .action-container {
      font-size: 1em;
      margin-top: 0.5em;
      display: flex;
      gap: 1em;
      flex-wrap: wrap;

      .watch {
        button {
          min-width: 12em;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
        }
      }
    }
  }
}

.select-plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  margin: 10em 0;

  .card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-width: 14em;
    min-height: 18.75em;
    border-radius: 1.25em;
    box-shadow: 0 0 19px 10px rgba(255, 255, 255, 0.2);

    .title {
      color: var(--tertiary);
      font-size: 1.375em;
    }

    div {
      min-height: 10em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .old-price {
        margin: 0.1em;
        font-size: 1.563em;
        color: var(--primary);
        text-decoration: line-through;
      }

      .price {
        font-weight: bold;
        margin: 0.1em;
        font-size: 2.5em;
        color: var(--primary);
      }

      .for {
        font-size: 0.875em;
        color: var(--tertiary);
      }
    }
  }
}

@media (max-width: 767px) {
  .overlay {
    .details {
      width: auto;
      margin: 1em;

      .title {
        font-size: 1.5em;
      }

      .description {
        font-size: 0.8em;
      }
    }
  }
}
