.super-main {
  .featured-images {
    padding: 2em 10em;
    background-color: var(--secondary);

    h1 {
      font-size: 1.5em;
      color: var(--tertiary);
      text-align: center;
      margin: 2em 0;
    }

    .featured-container {
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(auto-fit, minmax(min(10em, 100%), 1fr));

      .card {
        img {
          max-width: 100%;
        }
      }

      .card:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 0 0 20px 12px rgba(255, 255, 255, 0.2);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  .gallery {
    h1 {
      background-color: var(--primary);
      font-size: 1.5em;
      color: var(--tertiary);
      text-align: center;
      margin: 0;
      min-height: 5em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .gallery-container {
      display: grid;
      grid-template-columns: repeat(
        12,
        1fr
      ); /* Divides the grid into 12 equal parts */
      grid-auto-rows: 200px; /* Set row height */
    }

    .card:nth-child(1) {
      grid-column: span 3;
    }
    .card:nth-child(2) {
      grid-column: span 2;
    }
    .card:nth-child(3) {
      grid-column: span 2;
    }
    .card:nth-child(4) {
      grid-column: span 1;
    }
    .card:nth-child(5) {
      grid-column: span 2;
    }
    .card:nth-child(6) {
      grid-column: span 2;
    }
    .card:nth-child(7) {
      grid-column: span 2;
    }
    .card:nth-child(8) {
      grid-column: span 2;
    }
    .card:nth-child(9) {
      grid-column: span 2;
    }
    .card:nth-child(10) {
      grid-column: span 2;
    }
    .card:nth-child(11) {
      grid-column: span 2;
    }
    .card:nth-child(12) {
      grid-column: span 2;
    }

    .card {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .about {
    h1 {
      font-size: 1.5em;
      color: var(--tertiary);
      text-align: center;
      margin: 0;
      min-height: 5em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      color: var(--gray);
      margin: 0;
      text-align: justify;
      padding: 0 2em 3em;
    }
  }
}

@media (max-width: 767px) {
  .super-main {
    .featured-images {
      padding: 2em;
    }

    .gallery {
      .card:nth-child(1) {
        grid-column: span 3;
      }
      .card:nth-child(2) {
        grid-column: span 3;
      }
      .card:nth-child(3) {
        grid-column: span 6;
      }
      .card:nth-child(4) {
        grid-column: span 3;
      }
      .card:nth-child(5) {
        grid-column: span 6;
      }
      .card:nth-child(6) {
        grid-column: span 3;
      }
      .card:nth-child(7) {
        grid-column: span 3;
      }
      .card:nth-child(8) {
        grid-column: span 3;
      }
      .card:nth-child(9) {
        grid-column: span 6;
      }
      .card:nth-child(10) {
        grid-column: span 6;
      }
      .card:nth-child(11) {
        grid-column: span 3;
      }
      .card:nth-child(12) {
        grid-column: span 3;
      }
    }
  }
}
