.signin-main {
  background-color: var(--secondary);
  color: var(--tertiary);
  display: inline-table;
  min-width: 25em;
  height: 100%;
  padding: 1em 0;

  form {
    .form-field-container {
      display: grid;
      justify-content: center;

      h2 {
        color: var(--gray);
        margin: 0;
      }

      p {
        text-align: center;
        font-size: 0.875em;
        margin: 0 0 2em;
      }

      label {
        font-size: 0.875em;
        margin-left: 0.8em;
      }

      input {
        font-size: 0.875em;
        min-width: 18em;
        padding: 0.7em;
        border-radius: 0.5em;
      }

      mat-error {
        font-size: 0.875em;
        margin-left: 0.8em;
        color: red;
      }

      .signingIn {
        background-color: var(--gray) !important;
      }
    }
  }

  mat-divider {
    width: 16em;
    text-align: center;
    background-color: var(--gray);
  }
}
