<div class="close-button-container">
  <button
    class="close-button"
    mat-icon-button
    matTooltip="close"
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="signin-main">
  <form [formGroup]="verifyForm" (ngSubmit)="confirm()">
    <div class="form-field-container">
      <h2>Email Confirmation</h2>
      <p>Enter the code we emailed to {{ destination }}</p>
    </div>
    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Confirmation Code</mat-label>
        <input
          matInput
          placeholder="Enter your code"
          formControlName="code"
          autocomplete="off"
          required
        />
        <mat-error>{{ codeErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignIn"
        mat-raised-button
        type="submit"
        [disabled]="verifyForm.invalid || isLoading()"
      >
        {{ isLoading() ? "Verifying..." : "Verify" }}
      </button>
    </div>

    <div class="form-field-container">
      <br />
      <mat-divider></mat-divider>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignUp"
        mat-raised-button
        type="button"
        (click)="resendCode()"
        [disabled]="isLoading()"
      >
        Resend Code
      </button>
    </div>
  </form>
</div>
