<div class="signin-main">
  <form [formGroup]="verifyForm" (ngSubmit)="confirm()">
    <div class="form-field-container">
      <h2>Email Confirmation</h2>
      <p>Enter the code we emailed to {{destination}}</p>
    </div>
    <div class="form-field-container">
      <label>Confirmation Code</label>
      <input
        matInput
        placeholder="Enter your code"
        formControlName="code"
        autocomplete="off"
        required
      />
      <mat-error>{{ codeErrorMessage() }}</mat-error>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignIn"
        mat-raised-button
        type="submit"
        [disabled]="verifyForm.invalid || isLoading()"
      >
        {{ isLoading() ? 'Verifying...' : 'Verify' }}
      </button>
    </div>

    <div class="form-field-container">
        <br>
      <mat-divider></mat-divider>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignUp"
        mat-raised-button
        type="button"
        (click)="resendCode()"
        [disabled]="isLoading()"
      >
        Resend Code
      </button>
    </div>
  </form>
</div>
