.super-main {
  height: 100vh;
  width: 100vw;
}

.mat-drawer-container {
  display: grid;
  height: 100%; /* Full height of the container */
}

.mat-drawer-content {
  display: flex;
  flex-direction: column; /* Content is arranged in a column */
}

.sidenav {
  width: 15em; /* Fixed sidebar width */
}

.content {
  display: grid;
  grid-template-rows: auto 1fr; /* Header auto height, body fills remaining */
  height: 100%; /* Occupy full height of the container */
}

.header {
  height: auto; /* Auto adjust header height */
  color: #fff;
}

.body {
  overflow: auto; /* Scroll content if it overflows */
  background-color: var(--tertiary);
  padding: 1em;
}
