<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile colspan="4" rowspan="1">
    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="user">person_pin</mat-icon>
        <span class="title">Total Users</span>
      </mat-card-header>
      <mat-card-content>
        <span class="data"
          >{{ formatNumber(userStats?.totalAllUsers || 0) }} Users</span
        >
        <div class="sub-data">
          @if(userStats){
          <!-- <div>
            Paid Subscribers:
            {{ formatNumber(userStats?.groupCounts?.PAID_SUBSCRIBER || 0) }}
          </div>
          <div>
            Free Subscribers:
            {{ formatNumber(userStats?.groupCounts?.FREE_SUBSCRIBER || 0) }}
          </div> -->
          <div>
            Subscribers:
            {{ formatNumber(userStats?.totalSUBSCRIBERs || 0) }}
          </div>
          <div>Guest Users: {{ formatNumber(userStats?.totalUSERs || 0) }}</div>
          <div>
            Curators: {{ formatNumber(userStats?.totalCONTENT_CREATORs || 0) }}
          </div>
          <div>
            IT Admins: {{ formatNumber(userStats?.totalIT_ADMINs || 0) }}
          </div>
          <div>
            Super Admins: {{ formatNumber(userStats?.totalSUPER_ADMINs || 0) }}
          </div>
          } @if(userStats?.newRegistrations){
          <div>
            New today:
            {{ formatNumber(userStats?.newRegistrations?.daily || 0) }}
          </div>
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="trending_up">trending_up</mat-icon>
        <span class="title">New Registrations</span>
      </mat-card-header>
      <mat-card-content>
        <span class="data"
          >{{ formatNumber(userStats?.newRegistrations?.daily || 0) }} New</span
        >
        <div class="sub-data">
          <div>
            Daily:
            {{ formatNumber(userStats?.newRegistrations?.daily || 0) }}
            Registers
          </div>
          <div>
            Weekly:
            {{ formatNumber(userStats?.newRegistrations?.weekly || 0) }}
            Registers
          </div>
          <div>
            Monthly:
            {{ formatNumber(userStats?.newRegistrations?.monthly || 0) }}
            Registers
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="eye">remove_red_eye</mat-icon>
        <span class="title">Content Stats</span>
      </mat-card-header>
      <mat-card-content>
        <span class="data"
          >{{ formatNumber(contentStats?.totalViews || 0) }} Views</span
        >
        <div class="sub-data">
          <div>
            Average Views:
            {{ contentStats?.averageViews || 0 | number : "1.2-2" }}
          </div>
          <div>
            Total Views: {{ formatNumber(contentStats?.totalViews || 0) }} Views
          </div>
          @for (category of getCategories(); track $index) {
          <div>
            <span class="label">{{ category }}:</span>
            {{
              formatNumber(contentStats?.contentByCategory[category].views || 0)
            }}
            Views
          </div>
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="category">category</mat-icon>
        <span class="title">Content Categories</span>
      </mat-card-header>
      <mat-card-content>
        <div class="data">
          <span
            >{{ formatNumber(getCategories().length || 0) }} Categories</span
          >
          <span
            >{{ formatNumber(contentStats?.totalContent || 0) }} Contents</span
          >
        </div>
        <div class="sub-data">
          @for (category of getCategories(); track $index) {
          <div>
            <span>{{ category }}:</span>
            {{
              formatNumber(contentStats?.contentByCategory[category].count || 0)
            }}
            Titles
          </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="3">
    <mat-card>
      <mat-card-header>
        <span class="title">Most Viewed</span>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <canvas #lineChart></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="3">
    <mat-card>
      <mat-card-header> <span class="title">Browsers</span> </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="browserStats" class="mat-elevation-z8">
          <ng-container matColumnDef="browser">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">{{ element.browser }}</td>
          </ng-container>
          <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              {{ formatNumber(element.users) }}
            </td>
          </ng-container>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="3">
    <mat-card>
      <mat-card-header>
        <span class="title">Performance Overview</span>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <canvas #barChart></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
