<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile colspan="4" rowspan="1">
    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="user">person_pin</mat-icon>
        <span class="title">Total Users</span>
      </mat-card-header>
      <mat-card-content>
        <span class="data">{{ userStats?.totalUsers || 0 }} Users</span>
        <div class="sub-data">
          @if(userStats?.groupCounts){
          <div>Free Users: {{ userStats?.groupCounts?.USER || 0 }}</div>
          <div>Subscribers: {{ userStats?.groupCounts?.SUBSCRIBER || 0 }}</div>
          } @if(userStats?.newRegistrations){
          <div>New today: {{ userStats?.newRegistrations?.daily || 0 }}</div>
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="trending_up">trending_up</mat-icon>
        <span class="title">New Registrations</span>
      </mat-card-header>
      <mat-card-content>
        <span class="data"
          >{{ userStats?.newRegistrations?.daily || 0 }} New</span
        >
        <div class="sub-data">
          <div>
            Daily: {{ userStats?.newRegistrations?.daily || 0 }} Registers
          </div>
          <div>
            Weekly: {{ userStats?.newRegistrations?.weekly || 0 }} Registers
          </div>
          <div>
            Monthly: {{ userStats?.newRegistrations?.monthly || 0 }} Registers
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="eye">remove_red_eye</mat-icon>
        <span class="title">Content Stats</span>
      </mat-card-header>
      <mat-card-content>
        <span class="data">{{ contentStats?.totalViews || 0 }} Views</span>
        <div class="sub-data">
          <div>Average Views: {{ contentStats?.averageViews || 0 }}</div>
          <div>Total Views: {{ contentStats?.totalViews || 0 }} Views</div>
          @for (category of getCategories(); track $index) {
          <div>
            {{ category }}:
            {{ contentStats?.contentByCategory[category].views || 0 }} Views
          </div>
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="category">category</mat-icon>
        <span class="title">Content Categories</span>
      </mat-card-header>
      <mat-card-content>
        <span class="data">{{ getCategories().length || 0 }} Categories</span>
        <div class="sub-data">
          @for (category of getCategories(); track $index) {
          <div>
            {{ category }}:
            {{ contentStats?.contentByCategory[category].count || 0 }} Titles
          </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="3">
    <mat-card>
      <mat-card-header>
        <span class="title">Most Viewed</span>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <canvas #lineChart></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="3">
    <mat-card>
      <mat-card-header> <span class="title">Browsers</span> </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="browserStats" class="mat-elevation-z8">
          <!-- Browser Column -->
          <ng-container matColumnDef="browser">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">{{ element.browser }}</td>
          </ng-container>

          <!-- Users Count Column -->
          <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">{{ element.users }}</td>
          </ng-container>

          <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="3">
    <mat-card>
      <mat-card-header>
        <span class="title">Performance Overview</span>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <canvas #barChart></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
