mat-grid-list {
  mat-grid-tile {
    mat-card {
      box-shadow: unset;
      width: 100%;
      height: 100%;

      mat-card-header {
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 0.5em;

        .title {
          color: #8491a5;
        }

        .user {
          color: blue;
        }

        .eye {
          color: yellowgreen;
        }

        .trending_up {
          color: red;
        }

        .category {
          color: turquoise;
        }
      }

      mat-card-content {
        display: flex;
        justify-content: space-evenly;
        align-content: flex-start;
        flex-wrap: wrap;
        height: 100%;
        overflow: auto;

        .data {
          color: var(--secondary);
          font-size: large;
          font-weight: bolder;
          display: flex;
          flex-direction: column;
        }

        .sub-data {
          font-size: 0.8em;
          color: #8491a5;
        }

        .chart-container {
          position: relative;
          height: 100%;
          width: 100%;
        }

        table {
          box-shadow: unset;

          td {
            color: #8491a5;
            font-size: 0.9em;
          }
        }
      }
    }

    .card {
      border: solid 2px var(--gray);
      border-radius: 1em;
      /* box-shadow: 0 4px 8px rgba(0, 0, 0, 1); */
      margin: 0 0.5em;
    }
  }
}
