.signin-main {
  background-color: var(--secondary);
  color: var(--tertiary);
  display: inline-table;
  width: 100%;
  height: 100%;

  h1 {
    font-size: 1em;
    color: var(--tertiary);
    padding: 0 2em;
  }

  mat-divider {
    color: var(--gray);
  }

  form {
    padding: 2em;
    max-height: 30em;
    overflow: auto;

    .form-field-container {
      display: grid;

      h2 {
        color: var(--primary);
      }

      p {
        text-align: center;
        font-size: 0.875em;
      }

      label {
        font-size: 0.875em;
        margin-left: 0.8em;
      }

      input, textarea, select {
        font-size: 0.875em;
        min-width: 18em;
        padding: 0.7em;
        border-radius: 0.5em;
      }

      mat-error {
        font-size: 0.875em;
        margin-left: 0.8em;
        color: red;
      }

      .signingIn {
        background-color: var(--gray) !important;
      }
    }
  }

  .action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 0.5em;
    padding: 0 1em;
  }
}
