<div class="signin-main">
  <h1>UPLOAD NEW CONTENT</h1>
  <mat-divider></mat-divider>
  <form [formGroup]="uploadForm">
    <!-- Title -->
    <div class="form-field-container">
      <label for="title">Title</label>
      <input
        matInput
        type="text"
        id="title"
        name="title"
        formControlName="title"
        placeholder="Enter title"
      />
      @if (titleErrorMessage()) {
      <mat-error>{{ titleErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Description -->
    <div class="form-field-container">
      <label for="description">Description</label>
      <textarea
        matInput
        id="description"
        name="description"
        formControlName="description"
        rows="4"
        placeholder="Enter description"
      ></textarea>
      @if(descriptionErrorMessage()) {
      <mat-error>{{ descriptionErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Category -->
    <div class="form-field-container">
      <label for="category">Category</label>
      <select
        id="category"
        name="category"
        formControlName="category"
        placeholder="Select category"
      >
        <option value="theater">Theater</option>
        <option value="film">Film</option>
        <option value="music">Music</option>
        <option value="dance">Dance</option>
        <option value="education">Education</option>
        <option value="ccpspecials">CCP Specials</option>
        <option value="ccpclassics">CCP Classics</option>
      </select>
      @if(categoryErrorMessage()) {
      <mat-error>{{ categoryErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Sub Category -->
    <div class="form-field-container">
      <label for="subCategory">Sub Category</label>
      <input
        matInput
        type="text"
        id="subCategory"
        name="subCategory"
        formControlName="subcategory"
        placeholder="Enter Sub Category"
      />
      @if(subCategoryErrorMessage()) {
      <mat-error>{{ subCategoryErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Director -->
    <div class="form-field-container">
      <label for="director">Director</label>
      <input
        matInput
        type="text"
        id="director"
        name="director"
        formControlName="director"
        placeholder="Enter director name"
      />
      @if(directorErrorMessage()) {
      <mat-error>{{ directorErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Writer -->
    <div class="form-field-container">
      <label for="writer">Writer</label>
      <input
        matInput
        type="text"
        id="writer"
        name="writer"
        formControlName="writer"
        placeholder="Enter writer name"
      />
      @if(writerErrorMessage()) {
      <mat-error>{{ writerErrorMessage() }}</mat-error
      >}
    </div>

    <!-- User Type -->
    <div class="form-field-container">
      <label for="userType">For which User Type?</label>
      <select id="userType" name="userType" formControlName="usertype">
        <option value="free">Free</option>
        <option value="subscriber">Subscriber</option>
      </select>
      @if(userTypeErrorMessage()) {
      <mat-error>{{ userTypeErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Landscape Image -->
    <div class="form-field-container">
      <label for="landscapeImage">Landscape Image</label>
      @if (landscapeImageKey) {
      <div class="existing-file">
        <div>
          <span>{{ landscapeImageKey.split("/").pop() }}</span>
        </div>
        @if (uploadProgress['landscape'] === 100) {
        <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(
              landscapeImageKey,
              'landscapeFileURL',
              'landscapeImageKey'
            )
          "
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="landscapeImage"
        formControlName="landscapeimage"
        (change)="onLandscapeImageSelected($event)"
        accept="image/*"
        class="form-control-file"
      />
      @if (landscapeErrorMessage()) {
      <mat-error>{{ landscapeErrorMessage() }}</mat-error>
      } } @if (landscapeFileURL) {
      <img class="previewMedia" [src]="landscapeFileURL" alt="banner-img" />
      @if (uploadProgress['landscape']) {
      <div class="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress['landscape']"
        >
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["landscape"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['landscape']) {
            <button
              mat-icon-button
              (click)="pauseUpload(landscapeImageKey, 'landscape')"
              [disabled]="uploadProgress['landscape'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(landscapeImageKey, 'landscape')"
              [disabled]="uploadProgress['landscape'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(landscapeImageKey, 'landscape')"
              [disabled]="uploadProgress['landscape'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["landscape"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["landscape"] }}%
          </p>
        </div>
      </div>
      } }
    </div>

    <!-- Portrait Image -->
    <div class="form-field-container">
      <label for="portraitImage">Portrait Image</label>
      @if (portraitImageKey) {
      <div class="existing-file">
        <div>
          <span>{{ portraitImageKey.split("/").pop() }}</span>
        </div>
        @if (uploadProgress['portrait'] === 100) {
        <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(portraitImageKey, 'portraitFileURL', 'portraitImageKey')
          "
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="portraitImage"
        formControlName="portraitimage"
        (change)="onPortraitImageSelected($event)"
        accept="image/*"
        class="form-control-file"
      />
      @if (portraitErrorMessage()) {
      <mat-error>{{ portraitErrorMessage() }}</mat-error
      >} } @if (portraitFileURL) {
      <img class="previewMedia" [src]="portraitFileURL" alt="poster-img" />
      @if (uploadProgress['portrait']) {
      <div class="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress['portrait']"
        >
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["portrait"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['portrait']) {
            <button
              mat-icon-button
              (click)="pauseUpload(portraitImageKey, 'portrait')"
              [disabled]="uploadProgress['portrait'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(portraitImageKey, 'portrait')"
              [disabled]="uploadProgress['portrait'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(portraitImageKey, 'portrait')"
              [disabled]="uploadProgress['portrait'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["portrait"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["portrait"] }}%
          </p>
        </div>
      </div>
      } }
    </div>

    <!-- Preview Video -->
    <div class="form-field-container">
      <label for="previewVideo">Preview Video</label>
      @if (previewVideoKey) {
      <div class="existing-file">
        <div>
          <span>{{ previewVideoKey.split("/").pop() }}</span>
        </div>
        @if (uploadProgress["preview"] === 100) {
        <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(previewVideoKey, 'previewFileURL', 'previewVideoKey')
          "
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="previewVideo"
        formControlName="previewvideo"
        (change)="onPreviewVideoSelected($event)"
        accept="video/*"
        class="form-control-file"
      />
      @if(previewErrorMessage()) {
      <mat-error>{{ previewErrorMessage() }}</mat-error
      >} } @if (previewFileURL) {
      <video
        class="previewMedia"
        [src]="previewFileURL"
        alt="preview-video"
        controls
        preload="metadata"
      ></video>
      @if (uploadProgress['preview']) {
      <div class="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress['preview']"
        >
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["preview"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['preview']) {
            <button
              mat-icon-button
              (click)="pauseUpload(previewVideoKey, 'preview')"
              [disabled]="uploadProgress['preview'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(previewVideoKey, 'preview')"
              [disabled]="uploadProgress['preview'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(previewVideoKey, 'preview')"
              [disabled]="uploadProgress['preview'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["preview"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["preview"] }}%
          </p>
        </div>
      </div>
      } }
    </div>

    <!-- Full Video -->
    <div class="form-field-container">
      <label for="fullVideo">Full Video</label>
      @if (fullVideoKey) {
      <div class="existing-file">
        <div>
          <span>{{ fullVideoKey.split("/").pop() }}</span>
        </div>
        @if(uploadProgress['full'] === 100) {
        <button
          mat-icon-button
          matTooltip="remove"
          (click)="deleteMedia(fullVideoKey, 'fullFileURL', 'fullVideoKey')"
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="fullVideo"
        formControlName="fullvideo"
        (change)="onFullVideoSelected($event)"
        accept="video/*"
        class="form-control-file"
      />
      @if(fullErrorMessage()) {
      <mat-error>{{ fullErrorMessage() }}</mat-error
      >} } @if (fullFileURL) {
      <video
        class="previewMedia"
        [src]="fullFileURL"
        alt="full-video"
        controls
        preload="metadata"
      ></video>
      @if (uploadProgress['full']) {
      <div class="progress">
        <mat-progress-bar mode="determinate" [value]="uploadProgress['full']">
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["full"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['full']) {
            <button
              mat-icon-button
              (click)="pauseUpload(fullVideoKey, 'full')"
              [disabled]="uploadProgress['full'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(fullVideoKey, 'full')"
              [disabled]="uploadProgress['full'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(fullVideoKey, 'full')"
              [disabled]="uploadProgress['full'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["full"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["full"] }}%
          </p>
        </div>
      </div>
      } }
    </div>
  </form>

  <div class="action-buttons">
    <button
      class="buttonTertiary"
      mat-button
      type="button"
      (click)="backButton()"
      [disabled]="isLoading() || isScheduling()"
    >
      Cancel
    </button>
    <button
      class="buttonSecondary"
      mat-raised-button
      type="button"
      (click)="publishContent(false)"
      [disabled]="uploadForm.invalid || isLoading() || isScheduling()"
    >
      {{ isScheduling() ? "Scheduling..." : "Schedule" }}
    </button>
    <button
      class="buttonPrimary"
      mat-raised-button
      type="submit"
      (click)="publishContent(true)"
      [disabled]="uploadForm.invalid || isLoading() || isScheduling()"
    >
      {{ isLoading() ? "Publishing..." : "Publish" }}
    </button>
  </div>
</div>
