<div class="close-button-container">
  <button
    class="close-button"
    mat-icon-button
    (click)="close()"
    matTooltip="close"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="signup-main">
  <form [formGroup]="updatePassForm" (ngSubmit)="updatePassOnClick()">
    <div class="form-field-container">
      <h2>Update Password</h2>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Old Password</mat-label>
        <input
          id="oldpassword"
          matInput
          placeholder="Enter your old password"
          formControlName="oldPassword"
          autocomplete="off"
          [type]="isOldPasswordVisible ? 'text' : 'password'"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="toggleOldPasswordVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="isOldPasswordVisible"
        >
          <mat-icon>{{
            isOldPasswordVisible ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (oldPasswordErrorMessage()) {
        <mat-error>{{ oldPasswordErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          id="password"
          matInput
          placeholder="Enter your password"
          formControlName="password"
          autocomplete="off"
          [type]="isPasswordVisible ? 'text' : 'password'"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="isPasswordVisible"
        >
          <mat-icon>{{
            isPasswordVisible ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (passwordErrorMessage()) {
        <mat-error>{{ passwordErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          id="confirmpassword"
          matInput
          placeholder="Confirm your password"
          formControlName="confirmPassword"
          autocomplete="off"
          [type]="isConfirmPasswordVisible ? 'text' : 'password'"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="toggleConfirmPasswordVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="isConfirmPasswordVisible"
        >
          <mat-icon>{{
            isConfirmPasswordVisible ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (confirmPasswordErrorMessage()) {
        <mat-error>{{ confirmPasswordErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignIn"
        mat-raised-button
        type="submit"
        [disabled]="updatePassForm.invalid || isLoading()"
      >
        {{ isLoading() ? "Updating Password..." : "Update Password" }}
      </button>
      <br />
    </div>
  </form>
</div>
