:host {
  --mdc-outlined-text-field-label-text-color: var(--secondary);
  --mdc-outlined-text-field-input-text-color: var(--secondary);
  --mdc-outlined-text-field-outline-color: var(--secondary);
  --mdc-outlined-text-field-hover-outline-color: var(--secondary);
  --mdc-outlined-text-field-focus-outline-color: var(--primary);
  --mdc-outlined-text-field-focus-label-text-color: var(--primary);
}

::ng-deep .form-field-container mat-form-field {
  width: 100%;
  min-width: 18em;

  .mat-mdc-text-field-wrapper {
    border-radius: 0.5em;
  }

  .mat-mdc-form-field-input-control input {
    font-size: 0.875em;
    padding: 0.7em;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-radius: 0.5em;
  }
}

form {
  max-height: 30em;
  padding: 0 2em 2em;

  .form-field-container {
    display: grid;

    p {
      text-align: center;
      font-size: 0.875em;
    }

    mat-error {
      font-size: 0.875em;
      color: red;
    }

    .signingUp {
      background-color: var(--gray) !important;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        color: var(--primary);
      }

      .buttons {
        display: flex;
        gap: 0.5em;

        button {
          background-color: var(--primary);

          mat-icon {
            color: var(--tertiary);
          }
        }
        button:hover {
          background-color: var(--primary-hovered);
        }
      }
    }
  }
}

mat-divider {
  width: 16em;
  text-align: center;
  background-color: var(--gray);
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  gap: 0.5em;
  padding: 0 1em;

  .buttonTertiary {
    color: var(--secondary) !important;
  }
}
