<form [formGroup]="editUserForm">
  <div class="form-field-container">
    <div class="header">
      <h2>User Details</h2>
      <div class="buttons">
        @if (Enabled && isEditing()) {
        <button
          mat-icon-button
          color="primary"
          (click)="disableOnClick()"
          matTooltip="Disable User"
        >
          <mat-icon>remove_circle</mat-icon>
        </button>
        } @if (!Enabled && isEditing()) {
        <button
          mat-icon-button
          color="primary"
          (click)="enableOnClick()"
          matTooltip="Enable User"
        >
          <mat-icon>check_circle</mat-icon>
        </button>
        }
        <button
          mat-icon-button
          color="primary"
          (click)="toggleEditMode()"
          matTooltip="{{ isEditing() ? 'Disable Edit' : 'Enable Edit' }}"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="form-field-container">
    <!-- First Name Field -->
    <label for="firstname">First Name</label>
    <input
      id="firstname"
      matInput
      placeholder="Enter your Firstname"
      formControlName="firstname"
      required
    />
    @if (firstnameErrorMessage()) {
    <mat-error>{{ firstnameErrorMessage() }}</mat-error>
    }
  </div>

  <div class="form-field-container">
    <!-- Last Name Field -->
    <label for="lastname">Last name</label>
    <input
      id="lastname"
      matInput
      placeholder="Enter your Lastname"
      formControlName="lastname"
      required
    />
    @if (lastnameErrorMessage()) {
    <mat-error>{{ lastnameErrorMessage() }}</mat-error>
    }
  </div>

  <div class="form-field-container">
    <!-- Email Field -->
    <label for="email">Email</label>
    <input
      id="email"
      autocomplete="off"
      matInput
      placeholder="Enter your email"
      formControlName="email"
      required
    />
    @if (emailErrorMessage()) {
    <mat-error>{{ emailErrorMessage() }}</mat-error>
    }
  </div>

  <div class="form-field-container">
    <!-- Bithdate Field -->
    <label for="birthdate">Birthdate</label>
    <input
      id="birthdate"
      matInput
      type="date"
      placeholder="Enter your Birthdate"
      formControlName="birthdate"
      required
    />
    @if (birthdateErrorMessage()) {
    <mat-error>{{ birthdateErrorMessage() }}</mat-error>
    }
  </div>

  <!-- Role -->
  <div class="form-field-container">
    <label for="role">Role</label>
    <select id="role" formControlName="role" required placeholder="Select role">
      <option value="USER">User</option>
      <!-- <option value="SUBSCRIBER">Subscriber</option> -->
      <option value="CONTENT_CREATOR">Content Curator</option>
      <option value="IT_ADMIN">IT Admin</option>
      <option value="SUPER_ADMIN">Super Admin</option>
    </select>
    @if(roleErrorMessage()) {
    <mat-error>{{ roleErrorMessage() }}</mat-error>
    }
  </div>

  <div class="action-buttons">
    <button
      class="buttonTertiary"
      mat-button
      type="button"
      (click)="cancelButton()"
    >
      {{ isEditing() ? "Cancel" : "Close" }}
    </button>
    @if (isEditing()) {
    <button
      class="buttonSignIn"
      mat-raised-button
      type="submit"
      (click)="updateUserOnClick()"
      [disabled]="editUserForm.invalid || isLoading()"
    >
      {{ isLoading() ? "Editing User..." : "Edit User" }}
    </button>
    }
  </div>
</form>
