.supermain-div {
  position: relative;
  width: 100%;
  max-height: 40em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  .media-container {
    width: 100%;
    height: 50em;
    overflow: hidden;
    position: relative;

    img {
      filter: brightness(80%);
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.supermain-div.fade-transition {
  opacity: 0;
  transform: scale(0.95);
}

.overlay {
  display: flex;
  color: var(--tertiary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .details {
    width: 60%;
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    margin: 3em;
    justify-items: center;
    text-align: center;

    .title {
      font-size: 2em;
      margin: 0;
      line-height: 1;
      color: var(--tertiary);
    }

    .description {
      font-size: 1em;
      overflow: hidden;
      text-align: center;
    }
  }

  .rates {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 2em;
    padding-bottom: 3em;

    .card {
      transition: transform 0.3s ease-in-out;
      position: relative;
      box-shadow: 0 0 19px 10px rgba(255, 255, 255, 0.2);
      border: 1px solid var(--tertiary);
      padding: 1em;
      min-width: 25em;
      min-height: 9em;
      border-radius: 5em;
      line-height: 1;
      text-align: center;
      align-content: center;
      cursor: pointer;

      .title {
        color: var(--gray);
        font-size: 1.5em;
        margin: 0;
      }

      .old-price {
        margin: 0;
        font-size: 1.2em;
        color: var(--tertiary);
        text-decoration: line-through;
      }

      .price {
        font-weight: bold;
        margin: 0;
        font-size: 2.5em;
        color: var(--tertiary);
      }
    }

    .card:hover {
      box-shadow: 0 0 19px 10px rgba(255, 255, 255, 0.2),
        0 0 0 2px var(--tertiary);
      transform: scale(1.05);
    }
  }
}

@media (max-width: 1137px) {
  .overlay {
    .rates {
      align-content: center;
    }
  }
}

@media (max-width: 767px) {
  .overlay {
    flex-direction: column;

    .details {
      width: auto;
      margin: 1em;

      .title {
        font-size: 1.5em;
      }

      .description {
        font-size: 0.8em;
      }
    }

    .rates {
      width: 100%;
      height: auto;
      align-items: flex-start;
      padding: 0 1em 1em;

      .card {
        min-width: 10em;
        min-height: 5.4em;

        .title {
          color: var(--gray);
          font-size: 1em;
          margin: 0;
        }

        .old-price {
          margin: 0;
          font-size: 0.7em;
          color: var(--tertiary);
          text-decoration: line-through;
        }

        .price {
          font-weight: bold;
          margin: 0;
          font-size: 1.5em;
          color: var(--tertiary);
        }
      }
    }
  }
}
