<div class="signup-main">
  <form [formGroup]="forcedChangedPassForm" (ngSubmit)="forcedChangedPassOnClick()">
    <div class="form-field-container">
      <h2>Forced Change Password</h2>
    </div>

    <div class="form-field-container">
      <!-- Password Field -->
      <label for="password">Password</label>
      <input
        id="password"
        matInput
        placeholder="Enter your password"
        formControlName="password"
        autocomplete="off"
        required
      />
      @if (passwordErrorMessage()) {
      <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </div>

    <div class="form-field-container">
      <label for="confirmpassword">Confirm Password</label>
      <input
        id="confirmpassword"
        matInput
        placeholder="Confirm your password"
        formControlName="confirmPassword"
        autocomplete="off"
        required
      />
      @if (confirmPasswordErrorMessage()) {
      <mat-error>{{ confirmPasswordErrorMessage() }}</mat-error>
      }
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignIn"
        mat-raised-button
        type="submit"
        [disabled]="forcedChangedPassForm.invalid || isLoading()"
      >
        {{ isLoading() ? "Changing Password..." : "Change Password" }}
      </button>
      <br>
    </div>
  </form>
</div>
