form {
  max-height: 30em;
  padding: 0 2em 2em;

  .form-field-container {
    display: grid;
    margin-bottom: 1em;

    label {
      font-size: 0.875em;
      margin-left: 0.8em;
    }

    input {
      font-size: 0.875em;
      min-width: 18em;
      padding: 0.7em;
      border-radius: 0.5em;
    }

    mat-error {
      font-size: 0.875em;
      margin-left: 0.8em;
      color: red;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        color: var(--primary);
      }

      .buttons {
        display: flex;
        gap: 0.5em;

        button {
          background-color: var(--primary);

          mat-icon {
            color: var(--tertiary);
          }
        }
        button:hover {
          background-color: var(--primary-hovered);
        }
      }
    }
  }
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  gap: 0.5em;
  padding: 0 1em;

  .buttonTertiary {
    color: var(--secondary) !important;
  }
}
