form {
  max-height: 30em;
  /* overflow: auto; */
  padding: 0 2em 2em;

  .form-field-container {
    display: grid;

    h2 {
      color: var(--primary);
    }

    p {
      text-align: center;
      font-size: 0.875em;
    }

    label {
      font-size: 0.875em;
      margin-left: 0.8em;
    }

    input,
    select {
      font-size: 0.875em;
      min-width: 18em;
      padding: 0.7em;
      border-radius: 0.5em;
    }

    mat-error {
      font-size: 0.875em;
      margin-left: 0.8em;
      color: red;
    }

    .signingUp {
      background-color: var(--gray) !important;
    }
  }
}

mat-divider {
  width: 16em;
  text-align: center;
  color: gray;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  gap: 0.5em;
  padding: 0 1em;

  .buttonTertiary {
    color: var(--secondary) !important;
  }
}
