<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer class="sidenav" #drawer mode="over">
    <div class="close-button-container">
      <button
        class="close-button"
        mat-icon-button
        (click)="closeToggleDrawer()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-card>
      <mat-card-header>
        <div class="user">
          <button disabled mat-icon-button>
            <mat-icon>person</mat-icon>
          </button>
          <div>
            <mat-card-title> {{ username }}</mat-card-title>
            <mat-card-subtitle>{{ email }}</mat-card-subtitle>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
    @if (role === 'SUBSCRIBER') {
    <mat-card>
      <mat-card-content>
        @for (item of navItems; track item) {
        <button
          [ngClass]="{ 'focus-menu': item.routeLink === currentRoute }"
          mat-button
          (click)="navigate(item.routeLink)"
        >
          <mat-icon>play_arrow</mat-icon><span>{{ item.label }}</span>
        </button>
        }
      </mat-card-content>
    </mat-card>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    }
    <mat-card>
      <mat-card-content>
        @if (role === 'SUBSCRIBER') {
        <button mat-button color="primary" (click)="favoritesOnClick()">
          <mat-icon>add_circle</mat-icon><span>Favourites</span>
        </button>
        }
        <button mat-button color="primary" (click)="settingOnClick()">
          <mat-icon>settings</mat-icon><span>Settings</span>
        </button>
        <button mat-button color="primary" (click)="logout()">
          <mat-icon>logout</mat-icon><span>Logout</span>
        </button>
      </mat-card-content>
    </mat-card>
  </mat-drawer>
</mat-drawer-container>
