<mat-card class="main-public-profile-container">
  <mat-card-content
    class="profile-content"
    [ngClass]="{
      'user-role-margin': userRole === 'USER',
      'subscriber-role-margin': userRole === 'SUBSCRIBER'
    }"
  >
    <div class="edit-actions">
      <button
        mat-raised-button
        color="primary"
        (click)="updatePasswordOnClick()"
      >
        <mat-icon aria-hidden="true">vpn_key</mat-icon>
        <span>Update Password</span>
      </button>
    </div>
    <!-- <div class="profile-header">
      <div class="profile-image">
        <img
          [src]="user()?.profilePic || 'default-profile-image.png'"
          [alt]="user()?.name"
          class="profile-pic"
        />
      </div>
      <div class="profile-basic-info">
        <h1 class="user-name">
          {{ user()?.given_name }} {{ user()?.family_name }}
        </h1>
        <p class="user-email">{{ user()?.email }}</p>
        <p class="user-phone">{{ user()?.phone_number }}</p>
      </div>
    </div> -->

    <section>
      <h3>Personal Information</h3>
      <mat-divider></mat-divider>
      <div class="info-grid">
        <div class="info-item">
          <span class="label">First Name:</span>
          <span>{{ user()?.given_name }}</span>
        </div>
        <div class="info-item">
          <span class="label">Last Name:</span>
          <span>{{ user()?.family_name }}</span>
        </div>
        <div class="info-item">
          <span class="label">Email:</span>
          <span>{{ user()?.email }}</span>
        </div>
        <div class="info-item">
          <span class="label">Date of Birth:</span>
          <span>{{ user()?.birthdate | date : "mediumDate" }}</span>
        </div>
        <div class="info-item">
          <span class="label">Email Verified:</span>
          <span>{{ user()?.email_verified }}</span>
        </div>
      </div>
    </section>

    <section>
      <h3>Account Status</h3>
      <mat-divider></mat-divider>
      <div class="info-grid">
        <div class="info-item">
          <span class="label">Status:</span>
          <span>{{ user()?.user_status }}</span>
        </div>
        <div class="info-item">
          <span class="label">Account Enabled:</span>
          <span>{{ user()?.enabled ? "Yes" : "No" }}</span>
        </div>
        <div class="info-item">
          <span class="label">Created:</span>
          <span>{{ user()?.created_at | date : "medium" }}</span>
        </div>
        <div class="info-item">
          <span class="label">Last Modified:</span>
          <span>{{ user()?.last_modified | date : "medium" }}</span>
        </div>
      </div>
    </section>
  </mat-card-content>
</mat-card>
