<div class="supermain-div">
  <div class="main-div" #scrollContainer>
    @for (item of visibleItems; track item) {
    <mat-card class="card">
      <img
        class="image"
        mat-card-image
        [src]="item.landscapeImageUrl"
        [alt]="item.title"
      />
      <video
        playsinline
        webkit-playsinline
        preload="metadata"
        loading="lazy"
        class="video"
        #video
        [src]="item.previewVideoUrl"
        autoplay
        loop
        [muted]="true"
        (click)="moreInfo(item)"
        controls
      ></video>
      <div class="actions">
        <label>{{ item.title }}</label>
      </div>
      <div class="actions-hovered">
        <label>{{ item.title }}</label>
        <div class="action-buttons">
          <div>
            <mat-icon (click)="watchVideo(item.fullVideoUrl)"
              >play_circle_filled</mat-icon
            >
            <mat-icon (click)="moreInfo(item)">info</mat-icon>
            <mat-icon>add_circle</mat-icon>
          </div>
          @if (item.resolution) {
          <p>•</p>
          <p>{{ item.resolution }}</p>
          } @if (item.runtime) {
          <p>•</p>
          <p>{{ transform(item.runtime) }}</p>
          }
        </div>
      </div>
    </mat-card>
    }
  </div>
  @if (featured.length > itemsToShow) {
  <button class="scroll-btn left" (click)="prevPage()">&#8249;</button>
  <button class="scroll-btn right" (click)="nextPage()">&#8250;</button>
  }
</div>
