.supermain-div {
  position: relative;
  width: auto;
  overflow: hidden; /* Ensures content does not overflow outside this div */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-flow: column;
  gap: 10px;
  overflow: hidden;
  min-height: 21em;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--secondary);
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  .image {
    display: block;
  }

  .video {
    width: 100%;
    max-height: 10.5em;
    display: none;
    object-fit: cover;
  }

  .actions {
    display: block;
    align-content: center;
    min-height: 4em;
    color: var(--gray);
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: bold;
    background-color: var(--accent);
  }

  .actions-hovered {
    display: none;
    background-color: var(--accent);
    padding: 0.5em 0.5em 0.5em 1em;
    font-weight: bold;
    font-size: 0.9em;

    label {
      color: var(--secondary);
    }

    .action-buttons {
      display: flex;
      gap: 0.5em;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
      color: var(--gray);
      line-height: 0;

      p {
        font-weight: lighter;
        font-size: 0.9em;
      }

      div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        mat-icon {
          width: 100%;
          height: 100%;
        }

        mat-icon:hover {
          color: var(--tertiary);
        }
      }
    }
  }
}

.card:hover {
  cursor: pointer;
  z-index: 100;
  transform: scale(1.1); /* Slight zoom-in effect on hover */
  box-shadow: 0 0 19px 5px rgba(255, 255, 255, 0.2);

  .image {
    display: none;
  }

  .video {
    display: block;
  }

  .actions {
    display: none;
  }

  .actions-hovered {
    display: block;
  }
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  z-index: 101;
}

.scroll-btn.left {
  left: 0; /* Positioned to the left */
}

.scroll-btn.right {
  right: 0; /* Positioned to the right */
}

.scroll-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Mobile view */
@media (max-width: 480px) {
  .main-div {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .card:hover {
    transform: none;
  }
}

/* Tablet view (Small tablets to larger tablets) */
@media (min-width: 481px) and (max-width: 767px) {
  .main-div {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Small desktop and larger tablets */
@media (min-width: 768px) and (max-width: 1119px) {
  .main-div {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Medium desktop */
@media (min-width: 1120px) and (max-width: 1439px) {
  .main-div {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* Large desktop */
@media (min-width: 1440px) and (max-width: 1919px) {
  .main-div {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

/* Ultra-wide desktop */
@media (min-width: 1920px) {
  .main-div {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
