<nav class="navbar">
  <ul class="nav-list">
    @for (item of navItems; track item) {
    <li class="nav-item">
      <a
        [routerLink]="item.routeLink"
        [class.active]="isActiveRoute(item.routeLink)"
      >
        <span
          class="label"
          [ngClass]="{ 'focus-label': isActiveRoute(item.routeLink) }"
          >{{ item.label }}</span
        >
        @if (isActiveRoute(item.routeLink)) {
        <span class="dot" [class.focus-dot]="isScrolled"></span>
        }
      </a>
    </li>
    }
  </ul>
</nav>
