.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 15px;
  position: relative;

  .label {
    font-size: 0.875em;
    text-transform: capitalize;
  }

  .focus-label {
    transition: 0.3s ease;
    font-weight: bolder;
  }
}

.nav-item.active {
  font-weight: bold;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.dot {
  transition: 0.3s ease;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary);
}

.focus-dot {
  background-color: var(--tertiary);
}
