<!-- <div class="supermain-div">
  <div class="main-div">
    <div class="noData">
      <h1>ABOUT</h1>
      <p>
        The CCP Channel is a nationwide streaming platform that offers the CCP’s
        quality and exclusive content in a celebration of local arts and culture
        while pushing local and international awareness on the Center’s
        programs, world-class artists, and creative endeavors. From live theater
        performances to award-winning independent films, a curated collection of
        exclusive and original CCP productions await discovery.
      </p>
    </div>
  </div>
</div> -->

<div class="super-main">
  <div class="banner">
    <app-banner [banners]="banners" />
  </div>
</div>
