@if (banners.length || featured.length || recommended.length ||
continueWatching.length) {
<div class="home-div">
  <div class="banner">
    <app-banner [banners]="banners" />
  </div>
  @if(featured.length) {
  <div class="frc">
    <div class="label-wrapper">
      <h1 class="label">Featured</h1>
    </div>
    @if (featured.length) {
    <app-featured [featured]="featured" />
    } @else {
    <app-no-video-available />
    }
  </div>
  } @if (recommended.length) {
  <div class="frc">
    <div class="label-wrapper">
      <h1 class="label">Recommended</h1>
    </div>
    <app-recommended [recommended]="recommended" />
  </div>
  } @if (continueWatching.length) {
  <div class="frc">
    <div class="label-wrapper">
      <h1 class="label">Continue watching</h1>
    </div>
    <app-continue-watching [continueWatching]="continueWatching" />
  </div>
  }

  <!-- Theater Category -->
  <!-- @if (theater.length) {
  <div class="frc">
    <div class="label-wrapper">
      <h1 class="label">Theater</h1>
      <span class="see-more" (click)="seeMoreOnClick(theater, 'Theater')">See more ></span>
    </div>
    <app-recommended [recommended]="theater" />
  </div>
  } -->

  <!-- Custom Tag Categories -->
  @for (tag of customTags; track tag.name) {
  <div class="frc" [attr.data-category]="tag.name.toLowerCase()">
    <div class="label-wrapper">
      <h1 class="label">{{ tag.name }}</h1>
      <span class="see-more" (click)="seeMoreOnClick(tag.content, tag.name)"
        >See more ></span
      >
    </div>
    <app-recommended [recommended]="tag.content" />
  </div>
  }

  <!-- Theater Category -->
  @if (theater.length) {
  <div class="frc" data-category="theater">
    <div class="label-wrapper">
      <h1 class="label">Theater</h1>
      <span class="see-more" (click)="seeMoreOnClick(theater, 'Theater')"
        >See more ></span
      >
    </div>
    <app-recommended [recommended]="theater" />
  </div>
  }

  <!-- Film Category -->
  @if (film.length) {
  <div class="frc" data-category="film">
    <div class="label-wrapper">
      <h1 class="label">Film</h1>
      <span class="see-more" (click)="seeMoreOnClick(film, 'Film')"
        >See more ></span
      >
    </div>
    <app-recommended [recommended]="film" />
  </div>
  }

  <!-- Music Category -->
  @if (music.length) {
  <div class="frc" data-category="music">
    <div class="label-wrapper">
      <h1 class="label">Music</h1>
      <span class="see-more" (click)="seeMoreOnClick(music, 'Music')"
        >See more ></span
      >
    </div>
    <app-recommended [recommended]="music" />
  </div>
  }

  <!-- Dance Category -->
  @if (dance.length) {
  <div class="frc" data-category="dance">
    <div class="label-wrapper">
      <h1 class="label">Dance</h1>
      <span class="see-more" (click)="seeMoreOnClick(dance, 'Dance')"
        >See more ></span
      >
    </div>
    <app-recommended [recommended]="dance" />
  </div>
  }

  <!-- Education Category -->
  @if (education.length) {
  <div class="frc" data-category="education">
    <div class="label-wrapper">
      <h1 class="label">Education</h1>
      <span class="see-more" (click)="seeMoreOnClick(education, 'Education')"
        >See more ></span
      >
    </div>
    <app-recommended [recommended]="education" />
  </div>
  }

  <!-- CCP Specials Category -->
  @if (ccpspecials.length) {
  <div class="frc" data-category="ccpspecials">
    <div class="label-wrapper">
      <h1 class="label">CCP Specials</h1>
      <span
        class="see-more"
        (click)="seeMoreOnClick(ccpspecials, 'CCP Specials')"
        >See more ></span
      >
    </div>
    <app-recommended [recommended]="ccpspecials" />
  </div>
  }

  <!-- CCP Classics Category -->
  @if (ccpclassics.length) {
  <div class="frc" data-category="ccpclassics">
    <div class="label-wrapper">
      <h1 class="label">CCP Classics</h1>
      <span
        class="see-more"
        (click)="seeMoreOnClick(ccpclassics, 'CCP Classics')"
        >See more ></span
      >
    </div>
    <app-recommended [recommended]="ccpclassics" />
  </div>
  }
</div>
} @else {
<div class="noData">
  <h1>No Videos Available at the Moment.</h1>
</div>
}
