.mainLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "body"
    "footer";
  height: 100%;
  width: 100%;
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 1.5em;
}

.super-main {
  height: 100vh;
  width: 100vw;
}

.mainLayout2 {
  display: grid;
  grid-template-columns: auto 1fr; /* Sidebar and content split */
  grid-template-rows: auto 1fr; /* Header auto height, body fills remaining */
  grid-template-areas:
    "sidebar content"
    "sidebar content";
  height: 100%; /* Occupy full height */
  width: 100%; /* Occupy full width */
}

.sidenav2 {
  grid-area: sidebar; /* Place in sidebar area */
  width: 12em; /* Fixed sidebar width */
  background-color: #f4f4f4; /* Example color */
  height: 100%; /* Full height */
  padding: 1em;
}

.content {
  grid-area: content; /* Place in content area */
  display: grid;
  grid-template-rows: auto 1fr; /* Header auto height, body fills remaining */
  grid-template-areas:
    "header"
    "body";
  height: 100%; /* Full height */
  width: 100%; /* Full width */
}

.header2 {
  grid-area: header; /* Place in header area */
  height: auto; /* Automatically adjust height */
  width: 100%; /* Full width */
  padding: 1em;
  color: #ffffff;
  background-color: aqua;
}

.body2 {
  grid-area: body; /* Place in body area */
  overflow: auto; /* Enable scrolling if content exceeds height */
  padding: 1em;
  background-color: bisque;
  height: 100%; /* Ensure it stretches to fill remaining space */
  width: 100%;
}
