<div class="signin-main">
  <div class="h1-button">
    <h1>CONTENT DETAILS</h1>
    <button
      mat-icon-button
      (click)="toggleEditMode()"
      matTooltip="{{ isEditing() ? 'Disable Edit' : 'Enable Edit' }}"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="uploadForm">
    <!-- Title -->
    <div class="form-field-container">
      <label for="title">Title</label>
      <input
        matInput
        type="text"
        id="title"
        name="title"
        formControlName="title"
        placeholder="Enter title"
      />
      @if (titleErrorMessage()) {
      <mat-error>{{ titleErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Description -->
    <div class="form-field-container">
      <label for="description">Description</label>
      <textarea
        matInput
        id="description"
        name="description"
        formControlName="description"
        rows="4"
        placeholder="Enter description"
      ></textarea>
      @if(descriptionErrorMessage()) {
      <mat-error>{{ descriptionErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Category -->
    <div class="form-field-container">
      <label for="category">Category</label>
      <select
        id="category"
        name="category"
        formControlName="category"
        placeholder="Select category"
      >
        <option value="theater">Theater</option>
        <option value="film">Film</option>
        <option value="music">Music</option>
        <option value="dance">Dance</option>
        <option value="education">Education</option>
        <option value="ccpspecials">CCP Specials</option>
        <option value="ccpclassics">CCP Classics</option>
      </select>
      @if(categoryErrorMessage()) {
      <mat-error>{{ categoryErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Sub Category -->
    <div class="form-field-container">
      <label for="subCategory">Sub Category</label>
      <input
        matInput
        type="text"
        id="subCategory"
        name="subCategory"
        formControlName="subCategory"
        placeholder="Enter Sub Category"
      />
      @if(subCategoryErrorMessage()) {
      <mat-error>{{ subCategoryErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Director -->
    <div class="form-field-container">
      <label for="director">Director</label>
      <input
        matInput
        type="text"
        id="director"
        name="director"
        formControlName="director"
        placeholder="Enter director name"
      />
      @if(directorErrorMessage()) {
      <mat-error>{{ directorErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Writer -->
    <div class="form-field-container">
      <label for="writer">Writer</label>
      <input
        matInput
        type="text"
        id="writer"
        name="writer"
        formControlName="writer"
        placeholder="Enter writer name"
      />
      @if(writerErrorMessage()) {
      <mat-error>{{ writerErrorMessage() }}</mat-error
      >}
    </div>

    <!-- User Type -->
    <div class="form-field-container">
      <label for="userType">For which User Type?</label>
      <select id="userType" name="userType" formControlName="userType">
        <option value="free">Free</option>
        <option value="subscriber">Subscriber</option>
      </select>
      @if(userTypeErrorMessage()) {
      <mat-error>{{ userTypeErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Landscape Image -->
    <div class="form-field-container">
      <label for="landscapeImage">Landscape Image</label>
      @if (landscapeFileURL || (landscapeImageKey && uploadProgress['landscape']
      === 100)) {
      <div class="existing-file">
        <div>
          <span>
            {{
              (landscapeFileURL ? landscapeFileURL.split("/").pop() : "") ||
                (landscapeImageKey ? landscapeImageKey.split("/").pop() : "")
            }}
          </span>
        </div>
        @if (!buttonDisabled() || uploadProgress['landscape'] === 100) {
        <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(
              landscapeFileURL,
              'landscapeFileURL',
              'landscapeFilePresignedURL'
            )
          "
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </div>
      } @else { @if (uploadProgress['landscape']) {
      <div class="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress['landscape']"
        >
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["landscape"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['landscape']) {
            <button
              mat-icon-button
              (click)="pauseUpload(landscapeImageKey, 'landscape')"
              [disabled]="uploadProgress['landscape'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(landscapeImageKey, 'landscape')"
              [disabled]="uploadProgress['landscape'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(landscapeImageKey, 'landscape')"
              [disabled]="uploadProgress['landscape'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["landscape"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["landscape"] }}%
          </p>
        </div>
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="landscapeImage"
        formControlName="landscapeimage"
        (change)="onLandscapeImageSelected($event)"
        accept="image/*"
        class="form-control-file"
      />
      } @if (landscapeErrorMessage()) {
      <mat-error>{{ landscapeErrorMessage() }}</mat-error>
      } } @if (landscapeFilePresignedURL) {
      <img
        class="previewMedia"
        [src]="landscapeFilePresignedURL"
        alt="banner-img"
      />
      }
    </div>

    <!-- Portrait Image -->
    <div class="form-field-container">
      <label for="portraitImage">Portrait Image</label>
      @if (portraitFileURL || (portraitImageKey && uploadProgress['portrait']
      === 100)) {
      <div class="existing-file">
        <div>
          <span>
            {{
              (portraitFileURL ? portraitFileURL.split("/").pop() : "") ||
                (portraitImageKey ? portraitImageKey.split("/").pop() : "")
            }}
          </span>
        </div>
        @if (!buttonDisabled() || uploadProgress['portrait'] === 100) {
        <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(
              portraitFileURL,
              'portraitFileURL',
              'portraitFilePresignedURL'
            )
          "
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </div>
      } @else { @if (uploadProgress['portrait']) {
      <div class="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress['portrait']"
        >
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["portrait"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['portrait']) {
            <button
              mat-icon-button
              (click)="pauseUpload(portraitImageKey, 'portrait')"
              [disabled]="uploadProgress['portrait'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(portraitImageKey, 'portrait')"
              [disabled]="uploadProgress['portrait'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(portraitImageKey, 'portrait')"
              [disabled]="uploadProgress['portrait'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["portrait"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["portrait"] }}%
          </p>
        </div>
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="portraitImage"
        formControlName="portraitimage"
        (change)="onPortraitImageSelected($event)"
        accept="image/*"
        class="form-control-file"
      />
      } @if (portraitErrorMessage()) {
      <mat-error>{{ portraitErrorMessage() }}</mat-error
      >} } @if (portraitFilePresignedURL) {
      <img
        class="previewMedia"
        [src]="portraitFilePresignedURL"
        alt="poster-img"
      />
      }
    </div>

    <!-- Preview Video -->
    <div class="form-field-container">
      <label for="previewVideo">Preview Video</label>
      @if (previewFileURL || (previewVideoKey && uploadProgress['preview'] ===
      100)) {
      <div class="existing-file">
        <div>
          <span>
            {{
              (previewFileURL ? previewFileURL.split("/").pop() : "") ||
                (previewVideoKey ? previewVideoKey.split("/").pop() : "")
            }}
          </span>
        </div>
        @if (!buttonDisabled() || uploadProgress['preview'] === 100) {
        <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(
              previewFileURL,
              'previewFileURL',
              'previewFilePresignedURL'
            )
          "
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </div>
      } @else { @if (uploadProgress['preview']) {
      <div class="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress['preview']"
        >
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["preview"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['preview']) {
            <button
              mat-icon-button
              (click)="pauseUpload(previewVideoKey, 'preview')"
              [disabled]="uploadProgress['preview'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(previewVideoKey, 'preview')"
              [disabled]="uploadProgress['preview'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(previewVideoKey, 'preview')"
              [disabled]="uploadProgress['preview'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["preview"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["preview"] }}%
          </p>
        </div>
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="previewVideo"
        formControlName="previewvideo"
        (change)="onPreviewVideoSelected($event)"
        accept="video/*"
        class="form-control-file"
      />
      } @if(previewErrorMessage()) {
      <mat-error>{{ previewErrorMessage() }}</mat-error
      >} } @if (previewFilePresignedURL) {
      <video
        class="previewMedia"
        [src]="previewFilePresignedURL"
        alt="preview-video"
        controls
        preload="metadata"
      ></video>
      }
    </div>

    <!-- Full Video -->
    <div class="form-field-container">
      <label for="fullVideo">Full Video</label>
      @if (fullFileURL || (fullVideoKey && uploadProgress['full'] === 100)) {
      <div class="existing-file">
        <div>
          <span>
            {{
              (fullFileURL ? fullFileURL.split("/").pop() : "") ||
                (fullVideoKey ? fullVideoKey.split("/").pop() : "")
            }}
          </span>
        </div>
        @if (!buttonDisabled() || uploadProgress['full'] === 100) {
        <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(fullFileURL, 'fullFileURL', 'fullFilePresignedURL')
          "
        >
          <mat-icon>delete</mat-icon>
        </button>
        }
      </div>
      } @else { @if (uploadProgress['full']) {
      <div class="progress">
        <mat-progress-bar mode="determinate" [value]="uploadProgress['full']">
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["full"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['full']) {
            <button
              mat-icon-button
              (click)="pauseUpload(fullVideoKey, 'full')"
              [disabled]="uploadProgress['full'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(fullVideoKey, 'full')"
              [disabled]="uploadProgress['full'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(fullVideoKey, 'full')"
              [disabled]="uploadProgress['full'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["full"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["full"] }}%
          </p>
        </div>
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="fullVideo"
        formControlName="fullvideo"
        (change)="onFullVideoSelected($event)"
        accept="video/*"
        class="form-control-file"
      />
      } @if(fullErrorMessage()) {
      <mat-error>{{ fullErrorMessage() }}</mat-error
      >} } @if (fullFilePresignedURL) {
      <video
        class="previewMedia"
        [src]="fullFilePresignedURL"
        alt="full-video"
        controls
        preload="metadata"
      ></video>
      }
    </div>
  </form>

  <div class="action-buttons">
    <button
      class="buttonTertiary"
      mat-raised-button
      type="button"
      (click)="backButton()"
    >
      Cancel
    </button>
    @if (!isPublished) {
    <button
      class="buttonPrimary"
      mat-raised-button
      type="submit"
      (click)="publishAndScheduleContent(true)"
      [disabled]="
        uploadForm.invalid ||
        isPublishing() ||
        isScheduling() ||
        isUpdating() ||
        buttonDisabled()
      "
    >
      {{ isPublishing() ? "Publishing..." : "Publish" }}
    </button>
    } @else {
    <button
      class="buttonSecondary"
      mat-raised-button
      type="button"
      (click)="publishAndScheduleContent(false)"
      [disabled]="
        uploadForm.invalid ||
        isPublishing() ||
        isScheduling() ||
        isUpdating() ||
        buttonDisabled()
      "
    >
      {{ isScheduling() ? "Scheduling..." : "Schedule" }}
    </button>
    }
    <button
      class="buttonPrimary"
      mat-raised-button
      type="submit"
      (click)="updateContent()"
      [disabled]="
        uploadForm.invalid ||
        isPublishing() ||
        isScheduling() ||
        isUpdating() ||
        buttonDisabled()
      "
    >
      {{ isUpdating() ? "Updating..." : "Update" }}
    </button>
  </div>
</div>
