<div class="signin-main">
  <h1>CONTENT DETAILS</h1>
  <mat-divider></mat-divider>
  <form [formGroup]="uploadForm">
    <!-- Title -->
    <div class="form-field-container">
      <label for="title">Title</label>
      <input
        required
        matInput
        type="text"
        id="title"
        name="title"
        formControlName="title"
        required
        placeholder="Enter title"
        [disabled]="true"
      />
      @if (titleErrorMessage()) {
      <mat-error>{{ titleErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Description -->
    <div class="form-field-container">
      <label for="description">Description</label>
      <textarea
        required
        matInput
        id="description"
        name="description"
        formControlName="description"
        required
        rows="4"
        placeholder="Enter description"
        [disabled]="true"
      ></textarea>
      @if(descriptionErrorMessage()) {
      <mat-error>{{ descriptionErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Category -->
    <div class="form-field-container">
      <label for="category">Category</label>
      <select
        required
        id="category"
        name="category"
        formControlName="category"
        required
        placeholder="Select category"
        [disabled]="true"
      >
        <option value="theater">Theater</option>
        <option value="film">Film</option>
        <option value="music">Music</option>
        <option value="dance">Dance</option>
        <option value="education">Education</option>
        <option value="ccpspecials">CCP Specials</option>
        <option value="ccpclassics">CCP Classics</option>
      </select>
      @if(categoryErrorMessage()) {
      <mat-error>{{ categoryErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Sub Category -->
    <div class="form-field-container">
      <label for="subCategory">Sub Category</label>
      <input
        matInput
        type="text"
        id="subCategory"
        name="subCategory"
        formControlName="subcategory"
        placeholder="Enter Sub Category"
        [disabled]="true"
      />
      @if(subCategoryErrorMessage()) {
      <mat-error>{{ subCategoryErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Director -->
    <div class="form-field-container">
      <label for="director">Director</label>
      <input
        required
        matInput
        type="text"
        id="director"
        name="director"
        formControlName="director"
        placeholder="Enter director name"
        [disabled]="true"
      />
      @if(directorErrorMessage()) {
      <mat-error>{{ directorErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Writer -->
    <div class="form-field-container">
      <label for="writer">Writer</label>
      <input
        matInput
        type="text"
        id="writer"
        name="writer"
        formControlName="writer"
        placeholder="Enter writer name"
        [disabled]="true"
      />
      @if(writerErrorMessage()) {
      <mat-error>{{ writerErrorMessage() }}</mat-error
      >}
    </div>

    <!-- User Type -->
    <div class="form-field-container">
      <label for="userType">For which User Type?</label>
      <select
        id="userType"
        name="userType"
        formControlName="usertype"
        required
        [disabled]="true"
      >
        <option value="free">Free</option>
        <option value="subscriber">Subscriber</option>
      </select>
      @if(userTypeErrorMessage()) {
      <mat-error>{{ userTypeErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Landscape Image -->
    <div class="form-field-container">
      <label for="landscapeImage">Landscape Image</label>
      <input
        matInput
        type="file"
        id="landscapeImage"
        formControlName="landscapeimage"
        (change)="onLandscapeImageSelected($event)"
        accept="image/*"
        class="form-control-file"
        required
        [disabled]="true"
      />
      @if (landscapeErrorMessage()) {
      <mat-error>{{ landscapeErrorMessage() }}</mat-error>
      } @if (landscapeFileURL) {
      <img class="previewMedia" [src]="landscapeFileURL" alt="banner-img" />
      }
      <!-- <small class="form-text text-muted">Recommended size: 1920x1080px</small> -->
    </div>

    <!-- Portrait Image -->
    <div class="form-field-container">
      <label for="portraitImage">Portrait Image</label>
      <input
        matInput
        type="file"
        id="portraitImage"
        formControlName="portraitimage"
        (change)="onPortraitImageSelected($event)"
        accept="image/*"
        class="form-control-file"
        required
        [disabled]="true"
      />
      @if (portraitErrorMessage()) {
      <mat-error>{{ portraitErrorMessage() }}</mat-error
      >} @if (portraitFileURL) {
      <img class="previewMedia" [src]="portraitFileURL" alt="poster-img" />
      }
      <!-- <small class="form-text text-muted">Recommended size: 1080x1920px</small> -->
    </div>

    <!-- Preview Video -->
    <div class="form-field-container">
      <label for="previewVideo">Preview Video</label>
      <input
        matInput
        type="file"
        id="previewVideo"
        formControlName="previewvideo"
        (change)="onPreviewVideoSelected($event)"
        accept="video/*"
        class="form-control-file"
        required
        [disabled]="true"
      />
      @if(previewErrorMessage()) {
      <mat-error>{{ previewErrorMessage() }}</mat-error
      >} @if (previewFileURL) {
      <video
        class="previewMedia"
        [src]="previewFileURL"
        alt="preview-video"
      ></video>
      }
      <!-- <small class="form-text text-muted">Maximum duration: 2 minutes</small> -->
    </div>

    <!-- Full Video -->
    <div class="form-field-container">
      <label for="fullVideo">Full Video</label>
      <input
        matInput
        type="file"
        id="fullVideo"
        formControlName="fullvideo"
        (change)="onFullVideoSelected($event)"
        accept="video/*"
        class="form-control-file"
        required
        [disabled]="true"
      />
      @if(fullErrorMessage()) {
      <mat-error>{{ fullErrorMessage() }}</mat-error
      >} @if (fullFileURL) {
      <video class="previewMedia" [src]="fullFileURL" alt="full-video"></video>
      }
      <!-- <small class="form-text text-muted">Supported formats: MP4, MOV</small> -->
    </div>
  </form>

  <div class="action-buttons">
    <button
      class="buttonTertiary"
      mat-raised-button
      type="button"
      (click)="backButton()"
    >
      Back
    </button>
    <button
      class="buttonSecondary"
      mat-raised-button
      type="button"
      (click)="publishContent(false)"
      [disabled]="uploadForm.invalid || isLoading()"
    >
      {{ isScheduling() ? "Scheduling..." : "Schedule" }}
    </button>
    <button
      class="buttonPrimary"
      mat-raised-button
      type="submit"
      (click)="publishContent(true)"
      [disabled]="uploadForm.invalid || isLoading()"
    >
      {{ isLoading() ? "Publishing..." : "Publish" }}
    </button>
  </div>
</div>
