.payment-callback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.payment-card {
  max-width: 80%;
  width: 100%;
  background-color: var(--secondary);
}

.status-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.payment-details p {
  color: var(--tertiary);
  margin: 16px 0;
  word-break: break-all;
}

.message-card {
  margin-top: 16px;
  background-color: #f5f5f5;
}

.actions-center {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  min-height: 3em;
  align-items: center;

  button {
    color: var(--tertiary);
    background-color: var(--primary-hovered);
  }
}

.mat-mdc-card-header {
  display: flex;
  padding: 16px 16px 0;
  align-items: center;
  gap: 1em;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  display: flex;
  margin: 0;
  color: var(--tertiary);
  align-items: center;
}

p strong {
  color: var(--gray);
}

.mat-mdc-card-actions {
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;

  p {
    color: var(--tertiary);
  }
}
