<div class="close-button-container">
  <button
    class="close-button"
    mat-icon-button
    (click)="close()"
    matTooltip="close"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="signin-main">
  <form [formGroup]="betaAccessForm" (ngSubmit)="confirm()">
    <div class="form-field-container">
      <h2>Schedule Date</h2>
    </div>
    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input
          id="date"
          matInput
          type="date"
          placeholder="Select date"
          formControlName="date"
          autocomplete="off"
          required
        />
        <mat-error>{{ dateErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignIn"
        mat-raised-button
        type="submit"
        [disabled]="betaAccessForm.invalid || isLoading()"
      >
        {{ isLoading() ? "Scheduling..." : "Schedule" }}
      </button>
    </div>
  </form>
</div>
