<div class="super-main">
  <mat-drawer-container
    autosize
    class="main-layout"
    [hasBackdrop]="(hasBackdrop$ | async) ?? false"
  >
    <mat-drawer
      #drawer
      [mode]="(mode$ | async) ?? 'side'"
      [opened]="(opened$ | async) ?? true"
      class="sidenav"
    >
      <app-sidenav2 (menuClicked)="drawer.toggle()"/>
    </mat-drawer>
    <div class="content">
      <div class="header">
        <app-header2 (menuClicked)="drawer.toggle()"></app-header2>
      </div>
      <div class="body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>
