.signin-main {
  background-color: var(--secondary);
  color: var(--tertiary);
  display: inline-table;
  min-width: 19em;
  height: 100%;
  padding: 2em 0;

  form {
    max-height: 30em;
    overflow: auto;
    .form-field-container {
      display: grid;
      justify-content: center;
      margin-bottom: 1em;

      h2 {
        color: var(--gray);
        margin: 0;
        text-align: center;
      }

      h3 {
        margin: 0;
        color: var(--primary-hovered);
      }

      p {
        text-align: center;
        font-size: 0.875em;
        margin: 0;
      }

      label {
        font-size: 0.875em;
        margin-left: 0.8em;
      }

      input {
        font-size: 0.875em;
        min-width: 18em;
        padding: 0.7em;
        border-radius: 0.5em;
      }

      .keys-list {
        .key-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-width: 15em;

          button {
            color: var(--accent);
          }

          span {
            margin-right: 1em;
          }
        }
      }

      .button {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
      }
    }

    mat-divider {
      color: var(--gray);
    }
  }
}
