<div class="signin-main">
  <div class="h1-button">
    <h1>CONTENT DETAILS</h1>
    <div class="action-button">
      <button
        mat-icon-button
        (click)="toggleEditMode()"
        matTooltip="{{ isEditing() ? 'Disable Edit' : 'Enable Edit' }}"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        class="close-button"
        mat-icon-button
        (click)="close()"
        matTooltip="close"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="uploadForm">
    <!-- Title -->
    <mat-form-field appearance="outline" class="form-field-container">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Enter title"
      />
      @if (titleErrorMessage()) {
      <mat-error>{{ titleErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="outline" class="form-field-container">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        rows="4"
        placeholder="Enter description"
      ></textarea>
      @if(descriptionErrorMessage()) {
      <mat-error>{{ descriptionErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <!-- Category -->
    <mat-form-field appearance="outline" class="form-field-container">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" placeholder="Select category">
        <mat-option value="theater">Theater</mat-option>
        <mat-option value="film">Film</mat-option>
        <mat-option value="music">Music</mat-option>
        <mat-option value="dance">Dance</mat-option>
        <mat-option value="education">Education</mat-option>
        <mat-option value="ccpspecials">CCP Specials</mat-option>
        <mat-option value="ccpclassics">CCP Classics</mat-option>
      </mat-select>
      @if(categoryErrorMessage()) {
      <mat-error>{{ categoryErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <!-- Sub Category -->
    <mat-form-field appearance="outline" class="form-field-container">
      <mat-label>Sub Category</mat-label>
      <input
        matInput
        type="text"
        formControlName="subCategory"
        placeholder="Enter Sub Category"
      />
      @if(subCategoryErrorMessage()) {
      <mat-error>{{ subCategoryErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <!-- Director -->
    <mat-form-field appearance="outline" class="form-field-container">
      <mat-label>Director</mat-label>
      <input
        matInput
        type="text"
        formControlName="director"
        placeholder="Enter director name"
      />
      @if(directorErrorMessage()) {
      <mat-error>{{ directorErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <!-- Writer -->
    <mat-form-field appearance="outline" class="form-field-container">
      <mat-label>Writer</mat-label>
      <input
        matInput
        type="text"
        formControlName="writer"
        placeholder="Enter writer name"
      />
      @if(writerErrorMessage()) {
      <mat-error>{{ writerErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <!-- Year Released -->
    <mat-form-field appearance="outline" class="form-field-container">
      <mat-label>Year Released</mat-label>
      <input
        matInput
        type="number"
        formControlName="yearReleased"
        placeholder="Enter year released"
        min="1900"
        [max]="currentYear"
      />
      @if(yearReleasedErrorMessage()) {
      <mat-error>{{ yearReleasedErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <!-- User Type -->
    <mat-form-field appearance="outline" class="form-field-container">
      <mat-label>For which User Type?</mat-label>
      <mat-select formControlName="userType">
        <mat-option value="free">Free</mat-option>
        <mat-option value="subscriber">Subscriber</mat-option>
      </mat-select>
      @if(userTypeErrorMessage()) {
      <mat-error>{{ userTypeErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <!-- Custom Fields -->
    <div class="form-field-container">
      <label
        >@if (isEditing()) { Custom Fields
        <button
          type="button"
          mat-icon-button
          (click)="addCustomField()"
          matTooltip="Add Field"
        >
          <mat-icon>add</mat-icon>
        </button>
        }
      </label>

      <div formArrayName="customFields">
        @for (customField of customFieldsFormArray.controls; track customField)
        {
        <div class="custom-field" [formGroupName]="$index">
          <div class="field">
            <mat-form-field appearance="outline" style="flex: 1">
              <mat-label>Field Name</mat-label>
              <mat-select formControlName="fieldId">
                @for (field of getAvailableFields($index); track field.id) {
                <mat-option [value]="field.id">{{
                  field.fieldName
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="flex: 1">
              <mat-label>Value</mat-label>
              <input
                matInput
                type="text"
                formControlName="value"
                placeholder="Enter value"
              />
            </mat-form-field>
            @if (isEditing()) {
            <button
              type="button"
              mat-icon-button
              (click)="removeCustomField($index)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            }
          </div>
        </div>
        }
      </div>
      @if (customFieldsErrorMessage()) {
      <mat-error>{{ customFieldsErrorMessage() }}</mat-error>
      }
    </div>

    <!-- Landscape Image -->
    <div class="form-field-container">
      <label for="landscapeImage">Landscape Image</label>
      @if (landscapeFileURL || (landscapeImageKey && uploadProgress['landscape']
      === 100)) {
      <div class="existing-file">
        <div>
          <span>
            {{
              (landscapeFileURL ? landscapeFileURL.split("/").pop() : "") ||
                (landscapeImageKey ? landscapeImageKey.split("/").pop() : "")
            }}
          </span>
        </div>
        @if (!buttonDisabled() || uploadProgress['landscape'] === 100) {
        <!-- <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(
              landscapeFileURL,
              'landscapeFileURL',
              'landscapeFilePresignedURL'
            )
          "
        >
          <mat-icon>delete</mat-icon>
        </button> -->
        }
      </div>
      } @else { @if (uploadProgress['landscape']) {
      <div class="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress['landscape']"
        >
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["landscape"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['landscape']) {
            <button
              mat-icon-button
              (click)="pauseUpload(landscapeImageKey, 'landscape')"
              [disabled]="uploadProgress['landscape'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(landscapeImageKey, 'landscape')"
              [disabled]="uploadProgress['landscape'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(landscapeImageKey, 'landscape')"
              [disabled]="uploadProgress['landscape'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["landscape"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["landscape"] }}%
          </p>
        </div>
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="landscapeImage"
        formControlName="landscapeimage"
        (change)="onLandscapeImageSelected($event)"
        accept="image/*"
        class="form-control-file"
      />
      } @if (landscapeErrorMessage()) {
      <mat-error>{{ landscapeErrorMessage() }}</mat-error>
      } } @if (landscapeFilePresignedURL) {
      <img
        class="previewMedia"
        [src]="landscapeFilePresignedURL"
        alt="banner-img"
      />
      }
    </div>

    <!-- Portrait Image -->
    <div class="form-field-container">
      <label for="portraitImage">Portrait Image</label>
      @if (portraitFileURL || (portraitImageKey && uploadProgress['portrait']
      === 100)) {
      <div class="existing-file">
        <div>
          <span>
            {{
              (portraitFileURL ? portraitFileURL.split("/").pop() : "") ||
                (portraitImageKey ? portraitImageKey.split("/").pop() : "")
            }}
          </span>
        </div>
        @if (!buttonDisabled() || uploadProgress['portrait'] === 100) {
        <!-- <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(
              portraitFileURL,
              'portraitFileURL',
              'portraitFilePresignedURL'
            )
          "
        >
          <mat-icon>delete</mat-icon>
        </button> -->
        }
      </div>
      } @else { @if (uploadProgress['portrait']) {
      <div class="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress['portrait']"
        >
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["portrait"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['portrait']) {
            <button
              mat-icon-button
              (click)="pauseUpload(portraitImageKey, 'portrait')"
              [disabled]="uploadProgress['portrait'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(portraitImageKey, 'portrait')"
              [disabled]="uploadProgress['portrait'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(portraitImageKey, 'portrait')"
              [disabled]="uploadProgress['portrait'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["portrait"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["portrait"] }}%
          </p>
        </div>
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="portraitImage"
        formControlName="portraitimage"
        (change)="onPortraitImageSelected($event)"
        accept="image/*"
        class="form-control-file"
      />
      } @if (portraitErrorMessage()) {
      <mat-error>{{ portraitErrorMessage() }}</mat-error>
      } } @if (portraitFilePresignedURL) {
      <img
        class="previewMedia"
        [src]="portraitFilePresignedURL"
        alt="poster-img"
      />
      }
    </div>

    <!-- Preview Video -->
    <div class="form-field-container">
      <label for="previewVideo">Preview Video</label>
      @if (previewFileURL || (previewVideoKey && uploadProgress['preview'] ===
      100)) {
      <div class="existing-file">
        <div>
          <span>
            {{
              (previewFileURL ? previewFileURL.split("/").pop() : "") ||
                (previewVideoKey ? previewVideoKey.split("/").pop() : "")
            }}
          </span>
        </div>
        @if (!buttonDisabled() || uploadProgress['preview'] === 100) {
        <!-- <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(
              previewFileURL,
              'previewFileURL',
              'previewFilePresignedURL'
            )
          "
        >
          <mat-icon>delete</mat-icon>
        </button> -->
        }
      </div>
      } @else { @if (uploadProgress['preview']) {
      <div class="progress">
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress['preview']"
        >
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["preview"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['preview']) {
            <button
              mat-icon-button
              (click)="pauseUpload(previewVideoKey, 'preview')"
              [disabled]="uploadProgress['preview'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(previewVideoKey, 'preview')"
              [disabled]="uploadProgress['preview'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(previewVideoKey, 'preview')"
              [disabled]="uploadProgress['preview'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["preview"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["preview"] }}%
          </p>
        </div>
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="previewVideo"
        formControlName="previewvideo"
        (change)="onPreviewVideoSelected($event)"
        accept="video/*"
        class="form-control-file"
      />
      } @if(previewErrorMessage()) {
      <mat-error>{{ previewErrorMessage() }}</mat-error>
      } } @if (previewFilePresignedURL) {
      <video
        class="previewMedia"
        [src]="previewFilePresignedURL"
        alt="preview-video"
        controls
        preload="metadata"
      ></video>
      }
    </div>

    <!-- Full Video -->
    <div class="form-field-container">
      <label for="fullVideo">Full Video</label>
      @if (fullFileURL || (fullVideoKey && uploadProgress['full'] === 100)) {
      <div class="existing-file">
        <div>
          <span>
            {{
              (fullFileURL ? fullFileURL.split("/").pop() : "") ||
                (fullVideoKey ? fullVideoKey.split("/").pop() : "")
            }}
          </span>
        </div>
        @if (!buttonDisabled() || uploadProgress['full'] === 100) {
        <!-- <button
          mat-icon-button
          matTooltip="remove"
          (click)="
            deleteMedia(fullFileURL, 'fullFileURL', 'fullFilePresignedURL')
          "
        >
          <mat-icon>delete</mat-icon>
        </button> -->
        }
      </div>
      } @else { @if (uploadProgress['full']) {
      <div class="progress">
        <mat-progress-bar mode="determinate" [value]="uploadProgress['full']">
        </mat-progress-bar>
        <div class="progress-info">
          @if (uploadProgress["full"] !== 100) {
          <div class="upload-controls">
            @if (!isPaused['full']) {
            <button
              mat-icon-button
              (click)="pauseUpload(fullVideoKey, 'full')"
              [disabled]="uploadProgress['full'] === 100"
              matTooltip="Pause upload"
            >
              <mat-icon>pause</mat-icon>
            </button>
            } @else {
            <button
              mat-icon-button
              (click)="resumeUpload(fullVideoKey, 'full')"
              [disabled]="uploadProgress['full'] === 100"
              matTooltip="Resume upload"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            }
            <button
              mat-icon-button
              (click)="cancelUpload(fullVideoKey, 'full')"
              [disabled]="uploadProgress['full'] === 100"
              matTooltip="Cancel upload"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          }
          <p>
            <span
              >{{
                uploadProgress["full"] === 100 ? "Uploaded" : "Uploading"
              }} </span
            >{{ uploadProgress["full"] }}%
          </p>
        </div>
      </div>
      } @else {
      <input
        matInput
        type="file"
        id="fullVideo"
        formControlName="fullvideo"
        (change)="onFullVideoSelected($event)"
        accept="video/*"
        class="form-control-file"
      />
      } @if(fullErrorMessage()) {
      <mat-error>{{ fullErrorMessage() }}</mat-error>
      } }
    </div>
  </form>

  <div class="action-buttons">
    <button
      class="buttonTertiary"
      mat-button
      type="button"
      (click)="backButton()"
    >
      Cancel
    </button>
    @if (!isPublished) {
    <button
      class="buttonPrimary"
      mat-raised-button
      type="submit"
      (click)="publishAndScheduleContent(true)"
      [disabled]="
        uploadForm.invalid ||
        isPublishing() ||
        isScheduling() ||
        isUpdating() ||
        buttonDisabled()
      "
    >
      {{ isPublishing() ? "Publishing..." : "Publish" }}
    </button>
    } @else {
    <button
      class="buttonSecondary"
      mat-raised-button
      type="button"
      (click)="publishAndScheduleContent(false)"
      [disabled]="
        uploadForm.invalid ||
        isPublishing() ||
        isScheduling() ||
        isUpdating() ||
        buttonDisabled()
      "
    >
      {{ isScheduling() ? "Scheduling..." : "Schedule" }}
    </button>
    }
    <button
      class="buttonPrimary"
      mat-raised-button
      type="submit"
      (click)="updateContent()"
      [disabled]="
        uploadForm.invalid ||
        isPublishing() ||
        isScheduling() ||
        isUpdating() ||
        buttonDisabled()
      "
    >
      {{ isUpdating() ? "Updating..." : "Update" }}
    </button>
  </div>
</div>
