.search-button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  input {
    font-size: 0.875em;
    min-width: 40%;
    padding: 0.5em;
    border-radius: 0.5em;
    border-color: var(--gray);
    margin: 1.5em 0 1em;
  }

  button {
    background-color: var(--primary);

    mat-icon {
      color: var(--tertiary);
    }
  }
  button:hover {
    background-color: var(--primary-hovered);
  }

  button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.container {
  flex-grow: 1;
  flex-basis: 40%;
  width: 100%;
}

.list {
  border: solid 1px #ccc;
  height: 100%;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 1em;
  overflow: hidden;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
