<div class="search-button">
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Search"
    #input
    [disabled]="!contents.length && !featured.length"
  />
  <button
    mat-icon-button
    (click)="save()"
    [disabled]="!hasChanges"
    [class.unsaved-changes]="hasChanges"
    matTooltip="save"
  >
    <mat-icon>save</mat-icon>
  </button>
</div>
<div class="main-container" cdkDropListGroup>
  <div class="container">
    <h2>{{ optionName }}</h2>

    <div
      cdkDropList
      [cdkDropListData]="contents"
      class="list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of contents; track item) {
      <div class="box" cdkDrag [cdkDragData]="item">
        <mat-icon>drag_indicator</mat-icon>
        <span>{{ item.title }}</span>
      </div>
      }
    </div>
  </div>

  <div class="container">
    <h2>{{ selectedName }}</h2>

    <div
      cdkDropList
      [cdkDropListData]="featured"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of featured; track item) {
      <div class="box" cdkDrag [cdkDragData]="item">
        <mat-icon>drag_indicator</mat-icon>
        <span>{{ item.title }}</span>
      </div>
      }
    </div>
  </div>
</div>
