<div class="main-sidenav">
  <div class="header-logo">
    <img src="ccp-logo-rmvbg.png" alt="header-logo" />
  </div>
  <mat-card>
    <mat-card-content>
      @if (lastSegment === 'manage-users' && (role === 'IT_ADMIN' || role ===
      'SUPER_ADMIN')) {
      <button class="new" mat-fab extended (click)="addNewUser()">
        <mat-icon>add</mat-icon><span>New User</span>
      </button>
      } @else if (lastSegment === 'tag') {
      <button class="new" mat-fab extended (click)="createTag()">
        <mat-icon>add</mat-icon><span>New Tag</span>
      </button>
      } @else if (lastSegment === 'custom-fields') {
      <button class="new" mat-fab extended (click)="addCustomFields()">
        <mat-icon>add</mat-icon><span>New Field</span>
      </button>
      } @else {
      <button class="new" mat-fab extended (click)="uploadNewContent()">
        <mat-icon>add</mat-icon><span>New Content</span>
      </button>
      }
    </mat-card-content>
    <mat-card-content>
      @for (item of navItems; track item) {
      <div class="nav-item-container">
        <button
          [ngClass]="{ 'focus-menu': item.routeLink === currentRoute }"
          mat-button
          (click)="
            item.children
              ? toggleExpand(item, $event)
              : navigate(item.routeLink)
          "
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <div class="parent-item-label">
            <span>{{ item.label }}</span>
            @if (item.children && item.children.length > 0) {
            <mat-icon>{{
              item.expanded ? "expand_less" : "expand_more"
            }}</mat-icon>
            }
          </div>
        </button>

        @if (item.children && item.children.length > 0 && item.expanded) {
        <div class="child-items">
          @for (child of item.children; track child) {
          <button
            [ngClass]="{ 'focus-menu': child.routeLink === currentRoute }"
            mat-button
            (click)="navigate(child.routeLink)"
          >
            <mat-icon>{{ child.icon }}</mat-icon>
            <span>{{ child.label }}</span>
          </button>
          }
        </div>
        }
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>
