:root {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  display: inline-table;

  /* color palettes */
  --primary: #660d21;
  --primary-hovered: #962e45;
  --secondary: #000000;
  --tertiary: #ffffff;
  --accent: #977a00;
  --gray: #d5d5d5;

  /* body */
  --body-linear-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 300%
  );

  .buttonMS {
    background-color: var(--primary);
    border-radius: 1.875em;
    border: 1px solid var(--tertiary) !important;
    color: var(--tertiary) !important;
    min-height: 2.5em;
    min-width: 8.688em;
    font-size: 0.875em;
  }

  .buttonMS:hover {
    cursor: pointer;
    background-color: var(--primary-hovered);
  }

  .buttonSignIn {
    background-color: var(--primary) !important;
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    min-height: 2.5em;
    min-width: 17.6em;
    font-size: 0.875em;
    font-weight: 600;
    margin-top: 1em;
  }

  .buttonSignIn:hover {
    cursor: pointer;
    background-color: var(--primary-hovered) !important;
  }

  .buttonSignUp {
    background-color: var(--primary) !important;
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    min-height: 2.5em;
    min-width: 10.688em;
    font-size: 0.875em;
    font-weight: 600;
    margin: 1em 0;
  }

  .buttonSignUp:hover {
    cursor: pointer;
    background-color: var(--primary-hovered) !important;
  }

  .buttonPrimary {
    background-color: var(--primary) !important;
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    font-size: 0.875em;
    font-weight: 600;
    margin: 1em 0;
  }

  .buttonSecondary {
    border: 1px solid var(--tertiary);
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    font-size: 0.875em;
    font-weight: 600;
    margin: 1em 0;
  }

  .buttonSecondary:hover {
    background-color: var(--primary-hovered);
  }

  .buttonTertiary {
    color: var(--tertiary) !important;
    font-size: 0.875em;
    margin: 1em 0;
  }

  .buttonTertiary:hover {
    color: var(--primary-hovered) !important;
  }

  .cdk-overlay-pane {
    border-radius: 0.625em;
    background-color: var(--tertiary);
  }

  button {
    font: icon;
  }

  @media (max-width: 767px) {
    .buttonMS {
      background-color: var(--primary);
      border-radius: 1.875em;
      border: 1px solid var(--tertiary) !important;
      color: var(--tertiary) !important;
      min-height: 1.5em;
      min-width: 1.688em;
      font-size: 0.6em;
    }
  }
}

body {
  margin: 0;
  background: var(--body-linear-gradient);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.home-div {
  width: 100%;
  background-color: var(--secondary);
  display: inline-table;

  .frc {
    min-height: 21em;

    .label {
      color: var(--gray);
      line-height: 0;
      display: flex;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 1.5em;
      font-size: 1.5em;
    }
  }
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30em;
  text-align: center;
  flex-direction: column;
  padding: 0 0.5em;

  h1 {
    color: var(--accent);
    font-size: 1.5em;
    margin: 0;
  }

  p {
    color: var(--gray);
  }
}
