:root {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  display: inline-table;

  /* color palettes */
  --primary: #660d21;
  --primary-hovered: #962e45;
  --secondary: #000000;
  --tertiary: #ffffff;
  --accent: #977a00;
  --gray: #d5d5d5;

  /* body */
  --body-linear-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 300%
  );

  .buttonMS {
    background-color: var(--primary);
    border-radius: 1.875em;
    border: 1px solid var(--tertiary) !important;
    color: var(--tertiary) !important;
    min-height: 2.5em;
    min-width: 8.688em;
    font-size: 0.875em;
  }

  .buttonMS:hover {
    cursor: pointer;
    background-color: var(--primary-hovered);
  }

  .buttonSignIn {
    background-color: var(--primary) !important;
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    min-height: 2.5em;
    min-width: 17.6em;
    font-size: 0.875em;
    font-weight: 600;
    margin-top: 1em;
  }

  .buttonSignIn:hover {
    cursor: pointer;
    background-color: var(--primary-hovered) !important;
  }

  .buttonSignUp {
    background-color: var(--primary) !important;
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    min-height: 2.5em;
    min-width: 10.688em;
    font-size: 0.875em;
    font-weight: 600;
    margin: 1em 0;
  }

  .buttonSignUp:hover {
    cursor: pointer;
    background-color: var(--primary-hovered) !important;
  }

  .buttonPrimary {
    background-color: var(--primary) !important;
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    font-size: 0.875em;
    font-weight: 600;
    margin: 1em 0;
  }

  .buttonPrimary:hover {
    background-color: var(--primary-hovered) !important;
  }

  .buttonSecondary {
    background-color: var(--primary) !important;
    border: 1px solid var(--tertiary);
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    font-size: 0.875em;
    font-weight: 600;
    margin: 1em 0;
  }

  .buttonSecondary:hover {
    background-color: var(--primary-hovered) !important;
  }

  .buttonTertiary {
    color: var(--tertiary) !important;
    font-size: 0.875em;
    margin: 1em 0;
  }

  .buttonTertiary:hover {
    color: var(--primary-hovered) !important;
  }

  .cdk-overlay-pane {
    border-radius: 0.625em;
    background-color: var(--tertiary);
  }

  button {
    font: icon;
  }

  .mdc-linear-progress__bar-inner {
    border-color: var(--primary);
  }

  .mdc-linear-progress {
    margin-left: 0.6em;
    width: 30%;
    border-radius: 1em;
  }

  .mat-mdc-menu-content {
    padding: 0;
  }

  @media (max-width: 767px) {
    .buttonMS {
      background-color: var(--primary);
      border-radius: 1.875em;
      border: 1px solid var(--tertiary) !important;
      color: var(--tertiary) !important;
      min-height: 1.5em;
      min-width: 1.688em;
      font-size: 0.6em;
    }
  }
}

body {
  margin: 0;
  background: var(--body-linear-gradient);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.home-div {
  width: 100%;
  background-color: var(--secondary);
  display: inline-table;

  .frc {
    min-height: 21em;

    .label-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      .see-more {
        cursor: pointer;
        opacity: 0;
        color: var(--accent);
        font-size: 1em;
        transition: opacity 0.4s ease-in-out;
        visibility: hidden;
      }

      .label {
        color: var(--gray);
        line-height: 0;
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 1.5em;
        font-size: 1.5em;
      }
    }

    .label-wrapper:hover .see-more {
      opacity: 1;
      visibility: visible;
    }
  }
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30em;
  text-align: center;
  flex-direction: column;
  padding: 0 0.5em;

  h1 {
    color: var(--accent);
    font-size: 1.5em;
    margin: 0;
  }

  p {
    color: var(--gray);
  }
}

/* style for dialogs */
.dialog {
  min-width: 80% !important;
  max-width: 100% !important;
  max-height: 90% !important;
  overflow: auto;
}

.dialog2 {
  min-width: 50% !important;
  max-width: 100% !important;
  max-height: 90% !important;
  overflow: auto;
}

.seemore-dialog {
  max-height: 90% !important;
  min-height: 90% !important;
  background-color: var(--secondary) !important;
  overflow: auto;
}

/* styles for table */
.table-header {
  background-color: var(--gray) !important;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3); /* darker track for streaming look */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary); /* using your primary color */
  border-radius: 4px;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray); /* changes color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) rgba(0, 0, 0, 0.3);
}
