.supermain-div {
  position: relative;
  width: 100%;
  max-height: 35em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  .media-container {
    width: 100%;
    height: 50em;
    overflow: hidden;
    position: relative;

    img,
    video {
      filter: brightness(80%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.supermain-div.fade-transition {
  opacity: 0;
  transform: scale(0.95);
}

.overlay {
  color: var(--tertiary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 1;

  .details {
    height: 100%;
    width: 50%;
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    margin: 3em;

    .title {
      font-size: 1.5em;
      margin: 0;
      line-height: 1;
      color: var(--accent);
    }

    .description {
      font-size: 0.8em;
      overflow: hidden; /* Hide the overflowing text */
      display: -webkit-box; /* Older IE support */
      -webkit-line-clamp: 3; /* Limit to 3 lines (webkit) */
      line-clamp: 3; /* Standard line-clamp (future-proof) */
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    .metadata {
      font-size: 0.8em;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;

      p {
        .categ {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }

    .action-container {
      font-size: 1em;
      margin-top: 0.5em;
      display: flex;
      gap: 1em;
      flex-wrap: wrap;

      .watch {
        button {
          min-width: 9em;
          font-weight: bold;
          border: none !important;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
        }

        button:hover {
          background-color: var(--primary-hovered);
        }
      }

      .info {
        button {
          background-color: #5c5c5c;
          min-width: 11em;
          font-weight: bold;
          border: none !important;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
        }

        button:hover {
          background-color: #3c3c3c;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .overlay {
    .details {
      width: auto;
      margin: 1em;
    }
  }
}
