<div class="main-media-container" #bannerContainer>
  @if (banners.length > 0) {
  <ng-container>
    <div class="supermain-div">
      <div class="media-container">
        @if (showPhoto || !banners[currentMediaIndex].previewVideoPresignedUrl)
        {
        <img
          [src]="banners[currentMediaIndex].landscapeImagePresignedUrl"
          [alt]="banners[currentMediaIndex].title"
        />
        } @if (!showPhoto &&
        banners[currentMediaIndex].previewVideoPresignedUrl) {
        <video
          playsinline
          webkit-playsinline
          preload="metadata"
          #video
          [src]="banners[currentMediaIndex].previewVideoPresignedUrl"
          [autoplay]="true"
          [muted]="true"
          (ended)="showPhoto = true"
        ></video>
        }
      </div>
      <div class="overlay">
        <div class="details">
          <h1 class="title">{{ banners[currentMediaIndex].title }}</h1>
          <p class="description">
            {{ banners[currentMediaIndex].description }}
          </p>
          <div class="metadata">
            @if (banners[currentMediaIndex].category) {
            <p>
              <span>CATEGORY : </span
              ><span class="categ">{{
                banners[currentMediaIndex].category
              }}</span>
            </p>
            } @if (banners[currentMediaIndex].resolution) {
            <p>•</p>
            <p>{{ banners[currentMediaIndex].resolution }}</p>
            } @if (banners[currentMediaIndex].runtime) {
            <p>•</p>
            <p>{{ transform(banners[currentMediaIndex].runtime) }}</p>
            }
          </div>
          @if (banners[currentMediaIndex].fullVideoUrl) {
          <div class="action-container">
            <div class="watch">
              <button
                class="buttonMS"
                mat-icon-button
                (click)="
                  watchVideo(
                    banners[currentMediaIndex].fullVideoUrl,
                    banners[currentMediaIndex].vttUrl,
                    banners[currentMediaIndex].id
                  )
                "
              >
                <div>WATCH</div>
                <mat-icon matSuffix>play_arrow</mat-icon>
              </button>
            </div>
            <div class="info">
              <button
                (click)="moreInfo(banners[currentMediaIndex])"
                class="buttonMS"
                mat-icon-button
              >
                <div>MORE INFO</div>
                <mat-icon matSuffix>info</mat-icon>
              </button>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </ng-container>
  }
</div>
