.supermain-div {
  position: relative;
  width: auto;
  overflow: hidden; /* Ensures content does not overflow outside this div */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-flow: column;
  gap: 10px;
  overflow: hidden; /* Ensure only 5 items are visible */
  min-height: 21em;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--secondary);
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  .image {
    display: block;
  }

  .video {
    width: 100%;
    max-height: 10.5em;
    display: none;
    object-fit: cover;
  }

  .actions {
    display: block;
    color: var(--gray);
    font-size: 0.9em;
    padding: 1em 0;
    font-weight: bold;
  }

  .actions-hovered {
    display: none;
    background-color: var(--secondary);
    padding: 1em;
    font-weight: bold;
    font-size: 0.9em;

    label {
      color: var(--gray);
    }

    .action-buttons {
      display: flex;
      gap: 0.5em;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
      color: var(--gray);

      p {
        font-weight: lighter;
        font-size: 0.9em;
      }
      
      div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        mat-icon {
          width: 100%;
          height: 100%;
        }

        mat-icon:hover {
          color: var(--primary);
        }
      }
    }
  }
}

.card:hover {
  cursor: pointer;
  z-index: 100;
  transform: scale(1.1); /* Slight zoom-in effect on hover */
  box-shadow: 0 0 19px 5px rgba(255, 255, 255, 0.2);

  .image {
    display: none;
  }

  .video {
    display: block;
  }

  .actions {
    display: none;
  }

  .actions-hovered {
    display: block;
  }
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  z-index: 101;
}

.scroll-btn.left {
  left: 0; /* Positioned to the left */
}

.scroll-btn.right {
  right: 0; /* Positioned to the right */
}

.scroll-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
