<div class="supermain-div">
  <div class="main-div" #scrollContainer>
    @for (item of visibleItems; track item) {
    <mat-card class="card" (click)="moreInfo(item)">
      <img
        class="image"
        mat-card-image
        [src]="item.portraitImagePresignedUrl"
        [alt]="item.title"
        [attr.loading]="'lazy'"
        [attr.decoding]="'async'"
        [style.aspect-ratio]="'2/3'"
        [style.object-fit]="'cover'"
      />
      <video
        playsinline
        webkit-playsinline
        preload="metadata"
        loading="lazy"
        class="video"
        #video
        [src]="item.previewVideoPresignedUrl"
        loop
        [muted]="true"
        [attr.controls]="isFirefox ? null : ''"
        controlsList="nodownload nofullscreen noremoteplayback noplaybackrate"
      ></video>
      <mat-progress-bar
        mode="determinate"
        [value]="calculateProgress(item)"
      ></mat-progress-bar>
      <div class="actions">
        <label>{{ item.title }}</label>
      </div>
      <div class="actions-hovered">
        <label>{{ item.title }}</label>
        <div class="action-buttons">
          <!-- <div>
            <mat-icon (click)="watchVideo(item.fullVideoUrl)"
              >play_circle_filled</mat-icon
            >
            <mat-icon (click)="moreInfo(item)">info</mat-icon>
            <mat-icon>add_circle</mat-icon>
          </div> -->
          @if (item.category){
          <p class="category">{{ item.category }}</p>
          } @if (item.yearReleased){
          <p>•</p>
          <p>{{ item.yearReleased }}</p>
          } @if (item.resolution) {
          <p>•</p>
          <p>{{ item.resolution }}</p>
          } @if (item.runtime) {
          <p>•</p>
          <p>{{ transform(item.runtime) }}</p>
          }
        </div>
      </div>
    </mat-card>
    }
  </div>
  @if (continueWatching.length > itemsToShow) {
  <button class="scroll-btn left" (click)="prevPage()">&#8249;</button>
  <button class="scroll-btn right" (click)="nextPage()">&#8250;</button>
  }
</div>
